[Unit]
Description=Wondershaper network latency script
Before=network.target
After=syslog.target network.service firewall.service
ConditionFileIsExecutable=/etc/rc.d/rc.wshaper

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/etc/rc.d/rc.wshaper start
ExecStop=/etc/rc.d/rc.wshaper stop

[Install]
WantedBy=multi-user.target
