[Unit]
Description=DNS caching server
After=syslog.target network.target

[Service]
Type=forking
PIDFile=/var/run/dnsmasq.pid
ExecStart=/usr/sbin/dnsmasq

[Install]
WantedBy=multi-user.target
