[Unit]
Description=DHCPv4 Server Daemon
Documentation=man:dhcpd(8) man:dhcpd.conf(5)
After=network.target

[Service]
EnvironmentFile=/etc/default/dhcpd
ExecStart=/usr/sbin/dhcpd -f -cf /etc/dhcpd.conf --no-pid $DHCPDARGS

[Install]
WantedBy=multi-user.target
