[Unit]
Description=DHCPv6 Server Daemon
After=network.target

[Service]
EnvironmentFile=/etc/default/dhcpd6
ExecStart=/usr/sbin/dhcpd -f -6 -cf /etc/dhcpd6.conf --no-pid $DHCPDARGS

[Install]
WantedBy=multi-user.target
