[Unit]
Description=DHCP Relay Agent Daemon
After=network.target

[Service]
EnvironmentFile=/etc/default/dhcrelay
ExecStart=/usr/sbin/dhcrelay -d --no-pid $DHCRELAYARGS

[Install]
WantedBy=multi-user.target
