[Unit]
Description=Run update-gtk-immodules
Before=display-manager.service
After=ldconfig.service glib-compile-schemas.service pango-querymodules.service gdk-pixbuf-loaders.service

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/bin/update-gtk-immodules
StandardOutput=null

[Install]
WantedBy=graphical.target
