[Unit]
Description=Nessus security scanner Daemon
After=syslog.target network.target
ConditionPathExists=/etc/pki/nessus/private/CA/serverkey.pem

[Service]
EnvironmentFile=/etc/default/nessusd
ExecStart=/usr/sbin/nessusd -q $OPTIONS

# Give a reasonable amount of time for the server to start up/shut down
TimeoutSec=300

[Install]
WantedBy=multi-user.target
