[Unit]
Description=Very Secure Ftp Daemon
After=syslog.target network.target local-fs.target remote-fs.target var-lock.mount
ConditionFileIsExecutable=/etc/rc.d/rc.vsftpd

[Service]
Type=forking
ExecStop=/etc/rc.d/rc.vsftpd stop
ExecStart=/etc/rc.d/rc.vsftpd start
ExecReload=/etc/rc.d/rc.vsftpd restart
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
