[Unit]
Description=Very Secure Ftp Daemon
After=syslog.target network.target

[Service]
# Follow the steps below to set up an additional configuration file:
#
# cp /etc/vsftpd/vsftpd.conf /etc/vsftpd/vsftpd2.conf
# ln -s /lib/systemd/system/vsftpd@.service /lib/systemd/system/vsftpd@vsftpd2.service
#
Type=oneshot
ExecStart=/usr/sbin/vsftpd /etc/vsftpd/%i.conf
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
