[Unit]
Description=Mail Transport Agent (MTA)
After=network.target local-fs.service

[Service]
EnvironmentFile=/etc/default/sendmail
ExecStart=/usr/sbin/sendmail -L sm-mta -q$QUEUE $SENDMAIL_OPTARG
ExecStartPost=/usr/sbin/sendmail -L sm-msp-queue -Ac -q$QUEUE $SENDMAIL_OPTARG

[Install]
WantedBy=multi-user.target
