/RealPlayer9/
/acidrip/
/amsn/
/audacious-acme/
/audacious-crystality/
/audacious-docklet/
/audacious-eq/
/audacious-extra-plugins/
/audacious-itouch-control/
/audacious-mac/
/audacious-skins/
/audacious-show/
/audacious-xosd/
/audaciousctrl/
/audioplayerctrl/
/azureus/
/bwidget/
/cdcd/
/cdpackfinder/
/cdxa/
/ceferino/
/cel/
/crystalspace/
/crossfire-client/
/crossfire/
/daimonin/
/festalon/
/freedesktop/
/gnomeboyadvance/
/gnormalize/
/gxmame/
/heliodor/
/htmlview/
/mozilla-firefox/
/mpeg4ip/
/mupen64/
/mupen6404/
/nerolinux/
/ntfs-config/
/openldap/
/osmose/
/pcsx/
/pcsx13/
/psxrip/
/redhat-artwork/
/slackware-logos/
/slmodem/
/slmodem-2.9.11/
/sqlite2/
/swiftfox/
/tango-icon-theme-extras/
/tcldom/
/tcllib/
/tclsoap/
/tcltls/
/tclxml/
/texi2html/
/tkdnd/
/ultimatestunts/
/ungrab-winmodem/
/vlc-skins/
/vmware/
/vnc/
/vrpe/
/xfwall/
/xdg-user-dirs/
/xdg-user-dirs-gtk/
/w3c-libwww/
/winex/
/wxosmose/
