[Unit]
Description=vhba kernel module
After=syslog.target
ConditionFileIsExecutable=/etc/rc.d/rc.vhba

[Service]
Type=oneshot
ExecStop=/etc/rc.d/rc.vhba stop
ExecStart=/etc/rc.d/rc.vhba start
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
