[Desktop Entry]
Name=Geany
GenericName=Integrated Development Environment
GenericName[bg]=Вградена среда за разработка
GenericName[ca]=Entorn Integrat de Desenvolupament
GenericName[de]=Integrierte Entwicklungsumgebung
GenericName[el]=Ενιαίο Περιβάλλον Ανάπτυξης
GenericName[en_GB]=Integrated Development Environment
GenericName[es]=Entorno Integrado de Desarrollo
GenericName[fi]=Integroitu Ohjelmointiympäristö
GenericName[fr]=Environnement de Développement Intégré
GenericName[hu]=Integrált Fejlesztői Felület
GenericName[it]=Ambiente di sviluppo integrato
GenericName[ja]=統合開発環境
GenericName[pl]=Zintegrowane środowisko programistyczne
GenericName[pt_BR]=Ambiente de Desenvolvimento Integrado
GenericName[ro]=Mediu de dezvoltare
GenericName[ru]=Интегрированная среда разработки
GenericName[sv]=Integrerad utvecklingsmiljö
GenericName[uk]=Об'єднане середовище розробки
GenericName[vi]=Môi trường Phát triển Hợp nhất
GenericName[zh_CN]=集成开发环境
Comment=A fast and lightweight IDE using GTK2
Comment[ca]=Un IDE lleuger i veloç que usa GTK2
Comment[cs]=Rychlé a lehké IDE pro GTK2
Comment[de]=Eine kleine und schnelle Entwicklungsumgebung für GTK2
Comment[el]=Γρήγορο και ελαφρύ GTK2 IDE
Comment[en_GB]=A fast and lightweight IDE using GTK2
Comment[es]=Un IDE rápido y liviano basado en GTK2
Comment[fi]=Nopea ja kevyt ohjelmointiympäristö
Comment[fr]=Un EDI rapide et léger utilisant GTK2
Comment[hu]=Gyors és pehelykönnyű IDE GTK2 alapokon
Comment[it]=Un IDE veloce e leggero che usa GTK2
Comment[ja]=GTK2 を用いた高速で軽量な IDE
Comment[pl]=Geany - szybkie i lekkie środowisko programistyczne
Comment[pt_BR]=Um IDE rápido e leve usando GTK2
Comment[ro]=Un IDE rapid folosind GTK2
Comment[ru]=Быстрая и легковесная среда разработки, использующая GTK2
Comment[sv]=Ett snabbt och lättviktigt IDE som använder GTK2
Comment[uk]=Швидке та легке графічне середовище, що використовує GTK2
Comment[vi]=Một IDE nhanh và nhẹ nhàng dùng GTK2
Comment[zh_CN]=一个使用 GTK2 编写的轻快的IDE
TryExec=geany
Exec=geany %F
Icon=geany
Terminal=false
Type=Application
Encoding=UTF-8
MimeType=text/md5;text/sha1;
# currently false, changes perhaps in the future
StartupNotify=false
Version=1.0
