[Unit]
Description=Provide remote X administration services
After=syslog.target network.target local-fs.target
Wants=local-fs.target
ConditionFileIsExecutable=/etc/rc.d/rc.vncserver

[Service]
ExecStop=/etc/rc.d/rc.vncserver stop
ExecStart=/etc/rc.d/rc.vncserver start
ExecReload=/etc/rc.d/rc.vncserver restart
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
