[Unit]
Description=CUPS scheduler
Requires=printer.target
After=syslog.target

[Service]
Type=forking
PIDFile=/var/run/cupsd.pid
ExecStartPre=/usr/sbin/cupsd -t
ExecStart=/usr/sbin/cupsd
ExecStartPost=/sbin/udevadm trigger --subsystem-match=usb --attr-match=bInterfaceClass=07 --attr-match=bInterfaceSubClass=01 --action=add
ExecStartPost=/sbin/udevadm trigger --subsystem-match=usb --property-match=DEVNAME="/dev/usb/lp*" --action=add

[Install]
WantedBy=multi-user.target
