[Unit]
Description=CUPS Printing Service
After=syslog.target

[Service]
ExecStart=/usr/sbin/cupsd -f
StandardOutput=syslog

# This is evil stuff. CUPS should use proper enumeration instead of
# retriggering these devices. CUPS folks, please fix this, otherwise Kay will
# come after you!
ExecStartPost=/sbin/udevadm trigger --subsystem-match=usb --attr-match=bInterfaceClass=07 --attr-match=bInterfaceSubClass=01
ExecStartPost=/sbin/udevadm trigger --subsystem-match=usb --property-match=DEVNAME=/dev/usb/lp*

[Install]
WantedBy=multi-user.target
