[Desktop Entry]
Version=1.0
Name=Seamonkey Mail
GenericName=Email
Comment=Send and Receive Mail with Seamonkey
Exec=/usr/bin/seamonkey -mail
Icon=seamonkey-mail
Terminal=false
Type=Application
MimeType=message/rfc822;x-scheme-handler/mailto;
StartupNotify=true
Categories=Network;Email;
