[Desktop Entry]
Version=1.0
Name=Seamonkey Web Browser
GenericName=Web Browser
Comment=Browse the web with Seamonkey
Exec=seamonkey %u
Icon=seamonkey
Terminal=false
Type=Application
MimeType=text/html;text/xml;application/xhtml+xml;application/vnd.mozilla.xul+xml;x-scheme-handler/http;x-scheme-handler/https;text/mml;application/x-maf;application/x-mimearchive;
StartupNotify=true
Categories=Network;WebBrowser;
Keywords=web;browser;internet;
