[Unit]
Description=Hard drive temperature monitor daemon
After=syslog.target network.target
Wants=network.target

[Service]
EnvironmentFile=/etc/default/hddtemp
ExecStart=/usr/sbin/hddtemp -d -F $HDDTEMP_OPTIONS

[Install]
WantedBy=multi-user.target
