[Unit]
Description=qBitorrent client
After=network.target local-fs.target
Wants=local-fs.target

[Service]
Type=forking
EnvironmentFile=/etc/default/qbittorrent
User=qbittorrent
Group=qbittorrent
ExecStart=@EXPAND_BINDIR@/qbittorrent-nox --webui-port=$DAEMON_PORT -d

[Install]
WantedBy=multi-user.target
