[Unit]
Description=qBitorrent client
After=syslog.target network.target local-fs.target
Wants=local-fs.target

[Service]
EnvironmentFile=/etc/default/qbittorrent
PermissionsStartOnly=true
User=qbittorrent
Group=qbittorrent
ExecStartPre=-/bin/chown qbittorrent:qbittorrent /var/lib/qbittorrent
ExecStart=/usr/bin/qbittorrent-nox --webui-port=$DAEMON_PORT

[Install]
WantedBy=multi-user.target
