[Unit]
Description=Wait for ntpd to synchronize system clock
After=ntpd.service
Requires=ntpd.service
Before=time-sync.target
Wants=time-sync.target

[Service]
Type=oneshot
ExecStart=/usr/sbin/ntp-wait
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
