[Unit]
Description=Network Time Service
After=syslog.target ntpdate.service sntp.service
Wants=ntp-wait.service

[Service]
Type=forking
EnvironmentFile=/etc/default/ntpd
ExecStart=/usr/sbin/ntpd -u ntp:ntp $NTPD_OPTIONS
PrivateTmp=true
ControlGroup=cpu:/

[Install]
WantedBy=multi-user.target
