[Unit]
Description=Network Time Service
After=syslog.target network.target ntpdate.service

[Service]
EnvironmentFile=/etc/default/ntpd
ExecStart=/usr/sbin/ntpd -n -u ntp:ntp $NTPD_OPTIONS

[Install]
WantedBy=multi-user.target
