[Unit]
Description=Set time via NTP
After=network.target nss-lookup.target network-online.target
Before=time-sync.target
Wants=time-sync.target network-online.target
ConditionFileIsExecutable=/etc/rc.d/rc.ntpdate

[Service]
Type=oneshot
ExecStart=/etc/rc.d/rc.ntpdate
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
