[Unit]
Description=CDEmu userspace daemon
After=syslog.target local-fs.target
ConditionFileIsExecutable=/etc/rc.d/rc.cdemud

[Service]
Type=forking
ExecStop=/etc/rc.d/rc.cdemud stop
ExecStart=/etc/rc.d/rc.cdemud start
ExecReload=/etc/rc.d/rc.cdemud restart
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
