[Unit]
Description=Node Information Query Daemon
After=network.target
Documentation=man:ninfod

[Service]
Type=forking
ExecStart=/usr/sbin/ninfod

[Install]
WantedBy=multi-user.target
