[Unit]
Description=Privacy enhancing proxy
After=syslog.target network.target local-fs.target
ConditionFileIsExecutable=/etc/rc.d/rc.privoxy

[Service]
Type=forking
ExecStop=/etc/rc.d/rc.privoxy stop
ExecStart=/etc/rc.d/rc.privoxy start
ExecReload=/etc/rc.d/rc.privoxy restart
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
