[Unit]
Description=UPnP MediaServer
After=NetworkManager-wait-online.service network.target local-fs.target

[Service]
Type=forking
PIDFile=/run/mediatomb.pid
EnvironmentFile=/etc/default/mediatomb
ExecStartPre=-/sbin/route add -net 239.0.0.0 netmask 255.0.0.0 $MT_IFACE
ExecStartPre=-/sbin/ifconfig $MT_IFACE allmulti
ExecStart=/usr/bin/mediatomb -d -u mediatomb -g mediatomb -m $MT_HOME -P /run/mediatomb.pid -l $MT_LOGFILE -p $MT_PORT -e $MT_IFACE $MT_OPTIONS

[Install]
WantedBy=multi-user.target
