# Garbage

/.directory
/*.xpm
/antesdecomp
/*.SlackBuild
/*.build
/*.sh
/*.htm
/*.spec
/*.txt
/*.options

*.spec
*.ebuild
PKGBUILD
geany_run_script.sh

*.log
*.st

*.rpm
*.deb
#*.patch
#*.diff
*.init
*.sysconfig

*.tar.bz2
*.tar.bz
*.tar.gz
*.tar.lz
*.tar.lzo
*.tar.xz
*.tar
*.tgz
*.txz
*.tbz2
*.tbz
*.tlz
*.tlzo
*.gtp
*.lzma
*.7z
*.rar
*.xpi
*.zip
*.cab
*.oxt
*.exe
*.msi
*.vbox-extpack
*.plasmoid

*.run
*.bin

*.pdf
*.sf2
*.chm
*.iso

*.md5
*.md5sum
*.sha1
*.sha1sum
*.sha224
*.sha224sum
*.sha256
*.sha256sum
*.sha384
*.sha384sum
*.sha512
*.sha512sum

*.asc
*.sig
*.sign

*.po
*.pot

*.old
old/
*.old/
new/
*.new/
*.bak
*.bak/
bak/
pack/
testing/
*-fdist/

!config/
#!patches/
!profile.d/

!/fake-aaa_elflibs.sh
!/fedora-cvs.sh
!/fedora-git.sh
!/kde-autoconf-snapshot.sh
!/KDE.options
!/snapshot-git.sh
!/snapshot-svn.sh


# TODO, dead or private

/_deplists/
/_sbtimes/
/_snapshots/
/_snapshots
/RPMS/
/SRPMS/
/SOURCES/
/SPECS/
/Modem/

/audacious-skins/
/dir2lame/
/kde4/
/kernel-testing/
/tmp/
/x11/
