# Garbage

/.directory
/*.xpm
/antesdecomp
/*.SlackBuild
/*.build
/*.sh
/*.htm
/*.spec
/*.txt
/*.options

*.spec
*.ebuild
PKGBUILD

*.rpm
*.patch
*.diff
*.init
*.sysconfig
*.desktop

*.tar.bz2
*.tar.gz
*.tar
*.tgz
*.tbz2
*.7z
*.rar
*.zip
*.cab

*.run
*.bin

*.asc
*.sig

*.po
*.pot

*.old
old/
pack/

!config/
!patches/
!profile.d/

# TODO or dead

/RPMS/
/SRPMS/
/SOURCES/
/SPECS/
/Modem/

/RealPlayer9/
/acidrip/
/amanyth/
/amsn/
/atlas/
/audacious-acme/
/audacious-crystality/
/audacious-docklet/
/audacious-eq/
/audacious-extra-plugins/
/audacious-itouch-control/
/audacious-mac/
/audacious-skins/
/audacious-show/
/audacious-xosd/
/audaciousctrl/
/audioplayerctrl/
/azureus/
/bwidget/
/cdcd/
/cdfs/
/cdpackfinder/
/cdxa/
/ceferino/
/cel/
/crystalspace/
/crossfire-client/
/crossfire/
/daimonin/
/dir2lame/
/docbook2X/
/festalon/
/freeglut/
/gnomeboyadvance/
/gnormalize/
/gnosefart/
/gtk-doc/
/gxmame/
/heliodor/
/htmlview/
/iasl/
/kde4/
/linspireclear/
/lipstik/
/liquid/
/mandvd/
/mozilla-firefox/
/mpeg4ip/
/mupen64/
/mupen6404/
/nerolinux/
/openldap/
/osmose/
/pcsx/
/pcsx13/
/pdftk/
/playgsf/
/psxrip/
/pyamanith/
/sendmail/
/slackware-logos/
/slmodem/
/slmodem-2.9.11/
/sqlite2/
/starfighter/
/swiftfox/
/tcldom/
/tcllib/
/tclsoap/
/tcltls/
/texi2html/
/thinkeramik/
/tkdnd/
/tuxsaver/
/ultimatestunts/
/ungrab-winmodem/
/videotrans/
/vlc/
/vlc-skins/
/vmware/
/vnc/
/vrpe/
/x11/
/xfwall/
/w3c-libwww/
/wesnoth/
/winex/
/wormux/
/wxosmose/
