# Garbage

/.directory
/*.xpm
/antesdecomp
/*.SlackBuild
/*.build
/*.sh
/*.htm
/*.spec
/*.txt
/*.options

*.spec
*.ebuild
PKGBUILD
geany_run_script.sh

*.log

*.rpm
*.deb
#*.patch
#*.diff
*.init
*.sysconfig
*.desktop

*.tar.bz2
*.tar.gz
*.tar.xz
*.tar
*.tgz
*.txz
*.tbz2
*.tlz
*.lzma
*.7z
*.rar
*.zip
*.cab
*.oxt
*.exe
*.msi
*.vbox-extpack

*.run
*.bin

*.pdf
*.sf2
*.chm
*.iso

*.md5
*.md5sum
*.sha1
*.sha1sum
*.sha224
*.sha224sum
*.sha256
*.sha256sum
*.sha384
*.sha384sum
*.sha512
*.sha512sum

*.asc
*.sig
*.sign

*.po
*.pot

*.old
old/
*.old/
new/
*.new/
*.bak
*.bak/
bak/
pack/
testing/
*-fdist/

!config/
!patches/
!profile.d/

!/fedora-cvs.sh
!/fedora-git.sh
!/KDE.options

# TODO, dead or private

/_deplists/
/_snapshots/
/RPMS/
/SRPMS/
/SOURCES/
/SPECS/
/Modem/

/audacious-skins/
/dir2lame/
/kde4/
/kernel-testing/
/tmp/
/x11/
