        |-----handy-ruler------------------------------------------------------|
dir2lame: dir2lame (A Graphical User Interface for LAME encoder)
dir2lame:
dir2lame: Dir2LAME is a Graphical User Interface (GUI) for LAME encoder.
dir2lame: Your main feature is convert all Wave files from a directory to MP3,
dir2lame: or all MP3 to Wave, or MP3 to MP3, without none terminal window
dir2lame: poping up.
dir2lame:
dir2lame:
dir2lame:
dir2lame:
dir2lame:
