[Unit]
Description=Run update-pango-querymodules
Before=display-manager.service
After=ldconfig.service glib-compile-schemas.service

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/bin/update-pango-querymodules
StandardOutput=null

[Install]
WantedBy=graphical.target
