[Unit]
Description=Wicd a wireless and wired network manager for Linux
After=syslog.target

[Service]
Type=forking
ExecStart=/usr/sbin/wicd
ExecStop=/usr/sbin/wicd -k

[Install]
WantedBy=multi-user.target
