[Desktop Entry]
Comment=Play Ogg Vorbis and other audio files
Comment[af]=Speel Ogg Vorbis en ander klanklêers
Comment[am]=Ogg Vorbisን እና ሌሎች የድምጽ ፋይሎችን አጫውት
Comment[ar]=تشغيل Ogg فوربس و ملفات أخري
Comment[be]=Прайграе Ogg Vorbis і іншыя аўдыё файлы
Comment[bg]=Просвирване на Ogg Vorbis и други музикални файлове
Comment[bn]=Ogg Vorvis এবং অন্যান্য অডিও ফাইলগুলো চালাও
Comment[bn_IN]=Ogg Vorvis এবং অন্যান্য অডিও ফাইল বাজান
Comment[ca]=Reproduïu fitxers Ogg Vorbis i d'altres formats de so
Comment[cs]=Přehrát zvukové soubory Ogg Vorbis a další
Comment[cy]=Gwrando ar Ogg Vorbis a ffeiliau sain eraill
Comment[da]=Afspil Ogg Vorbis og andre lydfiler
Comment[de]=Ogg Vorbis und andere Audio-Dateien spielen
Comment[el]=Αναπαραγωγή Ogg Vorbis και άλλων αρχείων ήχου
Comment[en_GB]=Play Ogg Vorbis and other audio files
Comment[es]=Reproducir Ogg Vorbis y otros ficheros de audio
Comment[et]=Mängitakse Ogg Vorbis ja muid audio faile
Comment[fa]=پخش اُگ‌وُربیس و پرونده‌های صوتی دیگر
Comment[fi]=Soita mm. Ogg Vorbis -äänitiedostoja
Comment[fr]=Lire les Ogg Vorbis et autres fichiers audio
Comment[gu]=ઓગ વોરબીસ અને બીજી ઓડિયો ફાઈલો વગાડો
Comment[he]=נגן קבצי Ogg Vorbis וקבצי קול נוספים
Comment[hi]=Ogg Vorbis और अन्य श्रव्य फाइलें चलाएँ
Comment[hr]=Svira OpenOffice.org i ostale zvukovne datoteke
Comment[hu]=Ogg Vorbis és más hangfájlok lejátszása
Comment[hy]=Նվագել Ogg Vorbis և այլ տիպի ձայնային ֆայլեր
Comment[id]=Mainkan Ogg Vorbis dan berkas audio lainnya
Comment[is]=Spila Ogg Vorbis og fleiri tónlistaskrár
Comment[it]=Riproduce Ogg Vorbis e altri file audio
Comment[ja]=Ogg Vorbis及び他のオーディオファイルを再生
Comment[ka]=Ogg Vorbis და სხვა აუდიოფაილების დაკვრა
Comment[ko]=Ogg Vorbis와 그외 오디오 파일 재생
Comment[lt]=Groja Ogg Vorbis ir kitas audio bylas
Comment[mk]=Пушти Ог Ворбис и други аудио датотеки
Comment[ms]=Main fail audio Ogg Vorbis dan lain-lain
Comment[nb]=Spill av Ogg Vorbis og andre lydfiler
Comment[nl]=Ogg Vorbis en andere audiobestanden afspelen
Comment[no]=Spill av Ogg Vorbis og andre lydfiler
Comment[nso]=Bapala Ogg Vorbis le difaele tše dingwe tšeo di nago le modumo
Comment[pa]=Ogg Vorbis ਅਤੇ ਹੋਰ ਸੰਗੀਤ ਫਾਇਲਾਂ ਚਲਾਓ
Comment[pl]=Odtwarzanie Ogg Vorbis i innych plików dźwiękowych
Comment[pt]=Toque ficheiros Ogg Vorbis e outros formatos de áudio
Comment[pt_BR]=Toque Ogg Vorbis e outros arquivos de áudio
Comment[ro]=Redă fişiere audio precum Ogg Vorbis
Comment[ru]=Воспроизводит файлы Ogg Vorbis и другие звуковые файлы
Comment[sk]=Hrať Ogg Vorbis a ostatné zvukové súbory
Comment[sl]=Predvaja Ogg Vorbis in druge zvočne datoteke
Comment[sr]=Пуштање Ogg Vorbis и осталих аудио датотека
Comment[sr@Latn]=Puštanje Ogg Vorbis i ostalih audio datoteka
Comment[sv]=Spela Ogg Vorbis-filer och andra ljudfiler
Comment[ta]=Ogg Vorbis மற்றும் மற்ற ஒலிக்கோப்புகளை இயக்கு
Comment[th]=เล่นไฟล์ Ogg Vorbis และไฟล์เสียงอื่นๆ
Comment[tr]=Ogg Vorbis ve diğer işitsel dosyaları çalar
Comment[uk]=Відтворення файлів Ogg Vorbis та інших звукових файлів
Comment[vi]=Chơi tập tin nhạc Ogg Vorbis và các tập tin khác
Comment[zh_CN]=播放 Ogg Vorbis 及其它音频文件
Comment[zh_TW]=播放 Ogg Vorbis 以及其他音效檔案
Comment[zu]=Dlala i- Ogg Vorbis kanye namafayela okuzwa
TryExec=xmms
Exec=xmms -e %F
Icon=xmms.xpm
MimeType=audio/x-mac;audio/x-gym;audio/x-psf;audio/x-nsf;audio/x-spc;
Name=Audio Player
Name[af]=Klankspeler
Name[am]=የድምጽ ማጫወቻ
Name[ar]=مُشغِّل الصّوتيّات
Name[be]=Аўдыё прайгравач
Name[bg]=Музикален плеър
Name[bn]=অডিও প্লেয়ার
Name[bn_IN]=অডিও প্লেয়ার
Name[ca]=Reproductor de so
Name[cs]=Přehrávač zvuku
Name[cy]=Chwaraewr Sain
Name[da]=Lydafspiller
Name[de]=Audio Player
Name[el]=Αναπαραγωγέας Audio
Name[en_GB]=Audio Player
Name[es]=Reproductor de audio
Name[et]=Audio mängijad
Name[fa]=پخش‌کننده‌ی صدا
Name[fi]=Äänisoitin
Name[fr]=Lecteur audio 
Name[gu]=ઓડિયો વગાડનાર
Name[he]=נגן צלילים
Name[hi]=श्रव्य चालक
Name[hr]=Svirač zvuka
Name[hu]=Hanglejátszó
Name[hy]=Ձայնարկիչ
Name[id]=Audio Player
Name[is]=Hljóðspilari
Name[it]=Lettore audio
Name[ja]=オーディオプレーヤー
Name[ka]=აუდიოდამკვრელი
Name[ko]=오디오 재생기
Name[lt]=Audio Grotuvas
Name[mk]=Пушти музика
Name[ms]=Pemain Audio
Name[nb]=Lydavspiller
Name[nl]=Geluidsspeler
Name[no]=Lydavspiller
Name[nso]=Sebapadi se nago le Modumo
Name[pa]=ਸੰਗੀਤ ਵਾਜਾ
Name[pl]=Odtwarzacz dźwięku
Name[pt]=Reprodutor Áudio
Name[pt_BR]=Reprodutor de Áudio
Name[ro]=Player audio
Name[ru]=Звуковой проигрыватель
Name[sk]=Prehrávač zvuku
Name[sl]=Predvajalnik zvoka
Name[sr]=Аудио програм
Name[sr@Latn]=Audio program
Name[sv]=Ljudspelare
Name[ta]=ஒலி இயக்கி
Name[th]=ตัวเล่นไฟล์เสียง
Name[tr]=Sesçalar
Name[uk]=Програвач звуку
Name[vi]=Bộ chơi nhạc
Name[zh_CN]=音频播放器
Name[zh_TW]=音效播放器
Name[zu]=Umdlali Ozwakalayo
Terminal=false
Type=Application
MapNotify=false
