[Desktop Entry]
MimeType=application/x-lzma
Comment=LZMA File
Comment[af]=LZMA Lêer
Comment[ar]=ملف LZMA
Comment[az]=LZMA Faylı
Comment[be]=Файл LZMA
Comment[bg]=Архив LZMA
Comment[bn]=বি-জিপ-২ (LZMA) ফাইল
Comment[br]=Restr LZMA
Comment[bs]=LZMA datoteka
Comment[ca]=Fitxer LZMA
Comment[cs]=Soubor komprimovaný bzipem2
Comment[csb]=Lopk LZMA
Comment[cy]=Ffeil LZMA
Comment[da]=LZMA-fil
Comment[de]=LZMA-Datei
Comment[el]=Αρχείο LZMA
Comment[eo]=LZMA-dosiero
Comment[es]=Archivo comprimido LZMA
Comment[et]=LZMA-arhiiv
Comment[eu]=LZMA fitxategia
Comment[fa]=پروندۀ LZMA
Comment[fi]=LZMA-tiedosto
Comment[fr]=Fichier compressé par LZMA
Comment[fy]=LZMA-Triem
Comment[ga]=Comhad LZMA
Comment[gl]=Ficheiro LZMA
Comment[he]=קובץ LZMA
Comment[hi]=LZMA फ़ाइल
Comment[hr]=LZMA datoteka
Comment[hu]=LZMA-fájl
Comment[id]=Berkas LZMA
Comment[is]=Þjöppuð skrá (LZMA)
Comment[it]=File LZMA
Comment[ja]=LZMA ファイル
Comment[ka]=LZMA არქივი
Comment[kk]=LZMA файлы
Comment[km]=ឯកសារ LZMA
Comment[ko]=LZMA 파일
Comment[lb]=LZMA-Datei
Comment[lt]=LZMA byla
Comment[lv]=LZMA fails
Comment[mk]=LZMA-датотека
Comment[mn]=Bzip-Файл
Comment[ms]=Fail LZMA
Comment[mt]=Arkivju LZMA
Comment[nb]=LZMA-fil
Comment[nds]=LZMA-Datei
Comment[ne]=LZMA फाइल
Comment[nl]=LZMA-bestand
Comment[nn]=LZMA-fil
Comment[nso]=Faele ya LZMA
Comment[pa]=LZMA ਫਾਇਲ
Comment[pl]=Plik LZMA
Comment[pt]=Ficheiro LZMA
Comment[pt_BR]=Arquivo LZMA
Comment[ro]=Fişier LZMA
Comment[ru]=Архив LZMA
Comment[rw]=LZMA Idosiye
Comment[se]=LZMA-fiila
Comment[sk]=LZMA súbor
Comment[sl]=Datoteka, stisnjena z LZMA
Comment[sq]=LZMA Skedë
Comment[sr]=LZMA фајл
Comment[sr@Latn]=LZMA fajl
Comment[ss]=Lifayela le LZMA
Comment[sv]=LZMA-fil
Comment[ta]=LZMA கோப்பு
Comment[te]=బిజిప్2 దస్త్రం
Comment[tg]=Файли LZMA 
Comment[th]=แฟ้มบีบอัด LZMA
Comment[tr]=LZMA Dosyası
Comment[tt]=LZMA Bireme
Comment[uk]=Файл LZMA
Comment[uz]=LZMA-fayli
Comment[uz@cyrillic]=LZMA-файли
Comment[ven]=Faela ya LZMA
Comment[vi]=Tập tin LZMA
Comment[wa]=Fitchî LZMA
Comment[xh]=Ifayile ye LZMA
Comment[zh_CN]=LZMA 文件
Comment[zh_HK]=LZMA 檔案
Comment[zh_TW]=LZMA 檔案
Comment[zu]=Ifayela le-LZMA
Icon=tgz
Type=MimeType
Patterns=*.lzma;*.LZMA;
