[Desktop Entry]
Version=1.0
Name=Firefox
GenericName=Web Browser
GenericName[pt_BR]=Navegador Web
Comment[pt_BR]=Navegue na Web
Comment=Browse the Web
TryExec=firefox
Exec=firefox %u
Icon=firefox
Terminal=false
Type=Application
StartupWMClass=Firefox-bin
MimeType=application/x-maf;application/x-mimearchive;
