[Unit]
Description=Allow legacy LPD clients to communicate with CUPS
Documentation=man:cups-lpd(8)

[Service]
ExecStart=-/usr/lib/cups/daemon/cups-lpd
StandardInput=socket
User=lp
