[Desktop Entry]
Name=Fluxbox
Comment=Very small and fast window manger
Comment[pl]=Mały i szybki zarządca okien
Comment[pt_BR]=Gerenciador de janelas muito pequeno e rápido
Exec=startfluxbox
Terminal=false
Type=Application
