[Unit]
Description=Clam AntiVirus
After=syslog.target network.target local-fs.target
Wants=local-fs.target
ConditionPathExists=/etc/rc.d/rc.clamav

[Service]
ExecStop=/etc/rc.d/rc.clamav stop
ExecStart=/etc/rc.d/rc.clamav start
ExecReload=/etc/rc.d/rc.clamav restart
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
