[Unit]
Description=FreeNX Server
Documentation=http://openfacts2.berlios.de/wikien/index.php/BerliosProject:FreeNX_-_FAQ
After=local-fs.target
Requires=sshd.service

[Service]
Type=oneshot
ExecStartPre=/usr/libexec/nx/freenx-server-check-setup
ExecStartPre=-/usr/libexec/nx/nxserver --cleanup
ExecStart=/usr/libexec/nx/nxserver --start
ExecStop=/usr/libexec/nx/nxserver --stop
ExecStopPost=-/usr/libexec/nx/nxserver --cleanup
StandardOutput=null
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
