[Unit]
Description=X Display Manager
After=rc-local.service systemd-user-sessions.service
Conflicts=gdm.service kdm.service lxdm.service slim.service wdm.service

[Service]
ExecStart=/usr/bin/xdm -nodaemon
Restart=always
RestartSec=0
IgnoreSIGPIPE=no

[Install]
WantedBy=graphical.target
Alias=display-manager.service
