[Unit]
Description=SSH ECDSA Keygeneration.
After=syslog.target
Before=sshd.service
ConditionPathExists=!/etc/ssh/ssh_host_ecdsa_key

[Service]
Type=oneshot
ExecStart=/usr/bin/ssh-keygen -q -t ecdsa -f /etc/ssh/ssh_host_ecdsa_key -C '' -N ''
ExecStartPost=/bin/chmod 640 /etc/ssh/ssh_host_ecdsa_key
ExecStartPost=/bin/chmod 644 /etc/ssh/ssh_host_ecdsa_key.pub
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
