[Unit]
Description=SSH DSA Keygeneration.
After=syslog.target
Before=sshd.service
ConditionPathExists=!/etc/ssh/ssh_host_dsa_key

[Service]
Type=oneshot
ExecStart=/usr/bin/ssh-keygen -q -t dsa -f /etc/ssh/ssh_host_dsa_key -C '' -N ''
ExecStartPost=/bin/chmod 640 /etc/ssh/ssh_host_dsa_key
ExecStartPost=/bin/chmod 644 /etc/ssh/ssh_host_dsa_key.pub
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
