[Unit]
Description=OpenSSH server daemon.
After=syslog.target network.target

[Service]
Type=forking
PIDFile=/var/run/sshd.pid
ExecStartPre=/usr/sbin/sshd -t
ExecStart=/usr/sbin/sshd

[Install]
WantedBy=multi-user.target
