[Unit]
Description=SSH server keys generation.
After=syslog.target
Before=sshd.service
BindTo=sshd.service

[Service]
Type=oneshot
EnvironmentFile=/etc/default/sshd
ExecStart=/usr/sbin/sshd-keygen
RemainAfterExit=yes

