[Unit]
Description=OpenSSH server daemon.
After=syslog.target network.target auditd.service

[Service]
EnvironmentFile=/etc/default/sshd
ExecStart=/usr/sbin/sshd -D $OPTIONS
ExecReload=/bin/kill -HUP $MAINPID

[Install]
WantedBy=multi-user.target
