[Unit]
Description=OpenSSH per-connection server daemon.
After=auditd.service

[Service]
EnvironmentFile=/etc/default/sshd
ExecStart=-/usr/sbin/sshd -i $OPTIONS
StandardInput=socket
