[Unit]
Description=OpenSSH server daemon.
After=network.target auditd.service

[Service]
EnvironmentFile=/etc/default/sshd
ExecStartPre=/usr/sbin/sshd-keygen
ExecStart=/usr/sbin/sshd -D $OPTIONS
ExecReload=/bin/kill -HUP $MAINPID

[Install]
WantedBy=multi-user.target
