[Unit]
Description=A DNS server
After=network.target var-lock.mount
ConditionPathExists=/etc/rc.d/rc.maradns

[Service]
ExecStop=/etc/rc.d/rc.maradns stop
ExecStart=/etc/rc.d/rc.maradns start
ExecReload=/etc/rc.d/rc.maradns restart
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
