[Unit]
Description=MaraDNS secure Domain Name Server (DNS)
Requires=network.target

[Service]
ExecStart=/usr/sbin/maradns -f /etc/maradns/mararc
StandardOutput=syslog
Restart=always

[Install]
WantedBy=multi-user.target
