[Unit]
Description=MaraDNS Zoneserver handles DNS zone transfers and any TCP DNS queries
Requires=network.target maradns.service

[Service]
ExecStart=/usr/sbin/zoneserver -f /etc/maradns/mararc
StandardOutput=syslog
Restart=always

[Install]
WantedBy=multi-user.target
