[Unit]
Description=A DNS server
After=network.target maradns.service var-lock.mount
ConditionPathExists=/etc/rc.d/rc.zoneserver

[Service]
ExecStop=/etc/rc.d/rc.zoneserver stop
ExecStart=/etc/rc.d/rc.zoneserver start
ExecReload=/etc/rc.d/rc.zoneserver restart
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
