[Desktop Entry]
Type=MimeType
Comment=Dreamcast Sound Format
Comment[pt_BR]=Arquivo de Som Dreamcast
MimeType=audio/x-dsf
Icon=sound
Patterns=*.dsf;*.DSF;*.minidsf;*.MINIDSF;
