[Desktop Entry]
Type=MimeType
Comment=Game Boy Advance Sound Format<
Comment[pt_BR]=Arquivo de Som Game Boy Advance
MimeType=audio/x-gsf
Icon=sound
Patterns=*.gsf;*.GSF;*.minigsf;*.MINIGSF;
