[Desktop Entry]
Comment=GYM Sound File
Comment[pt_BR]=Arquivo de Som GYM
Hidden=false
Icon=sound
MimeType=audio/x-gym
Patterns=*.GYM;*.gym;
Type=MimeType
