[Desktop Entry]
Type=MimeType
Comment=Playstation Sound Format
Comment[pt_BR]=Arquivo de Som Playstation
MimeType=audio/x-psf
Icon=sound
Patterns=*.psf;*.PSF;*.minipsf;*.MINIPSF;*.psf2;*.PSF2;*.minipsf2;*.MINIPSF2;
