[Desktop Entry]
Type=MimeType
Comment=Sega Saturn Sound Format
Comment[pt_BR]=Arquivo de Som Sega Saturn
MimeType=audio/x-ssf
Icon=sound
Patterns=*.ssf;*.SSF;*.minissf;*.MINISSF;
