[Unit]
Description=Kerberos 5 Password-changing and Administration
After=network.target
ConditionPathExists=!/var/kerberos/krb5kdc/kpropd.acl

[Service]
Type=forking
PIDFile=/run/kadmind.pid
EnvironmentFile=-/etc/default/kadmin
ExecStart=/usr/sbin/kadmind -P /run/kadmind.pid $KADMIND_ARGS
ExecReload=/bin/kill -HUP $MAINPID

[Install]
WantedBy=multi-user.target
