[Unit]
Description=Kerberos 5 Propagation
After=syslog.target network.target
ConditionPathExists=/var/kerberos/krb5kdc/kpropd.acl

[Service]
Type=forking
ExecStart=/usr/sbin/kpropd -S

[Install]
WantedBy=multi-user.target
