[Unit]
Description=Xbox controller driver daemon
Documentation=man:xboxdrv(1)
After=rc-local.service

[Service]
Type=forking
User=root
EnvironmentFile=/etc/default/xboxdrv
PIDFile=/run/xboxdrv.pid
ExecStartPre=-/sbin/modprobe -r xpad
ExecStartPre=/sbin/modprobe uinput
ExecStart=/usr/bin/xboxdrv --daemon --detach --pid-file /run/xboxdrv.pid --dbus disabled --silent $XBOXDRV_OPTIONS

[Install]
WantedBy=multi-user.target
