[Unit]
Description=exmap kernel module
After=syslog.target
ConditionFileIsExecutable=/etc/rc.d/rc.exmap

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/etc/rc.d/rc.exmap start
ExecStop=/etc/rc.d/rc.exmap stop

[Install]
WantedBy=multi-user.target
