[Unit]
Description=Run ldconfig
Before=network.target

[Service]
Type=oneshot
RemainAfterExit=no
ExecStart=/sbin/ldconfig

[Install]
WantedBy=multi-user.target
