[Unit]
Description=Name Service Cache Daemon
After=syslog.target

[Service]
EnvironmentFile=-/etc/default/nscd
ExecStart=/usr/sbin/nscd --foreground $NSCD_OPTIONS
ExecStop=/usr/sbin/nscd --shutdown
ExecReload=/usr/sbin/nscd -i passwd
ExecReload=/usr/sbin/nscd -i group
ExecReload=/usr/sbin/nscd -i hosts
ExecReload=/usr/sbin/nscd -i services
ExecReload=/usr/sbin/nscd -i netgroup
Restart=always

[Install]
WantedBy=multi-user.target
Also=nscd.socket
