[Unit]
Description=Deadwood recursive caching DNS resolver
After=network.target var-lock.mount
ConditionPathExists=/etc/rc.d/rc.deadwood

[Service]
ExecStop=/etc/rc.d/rc.deadwood stop
ExecStart=/etc/rc.d/rc.deadwood start
ExecReload=/etc/rc.d/rc.deadwood restart
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
