[Unit]
Description=Deadwood recursive caching DNS resolver
Documentation=man:Deadwood(1)
After=network.target network-online.target
Wants=nss-lookup.target
Before=nss-lookup.target

[Service]
ExecStart=/usr/sbin/Deadwood -f /etc/maradns/dwood3rc
StandardOutput=syslog
Restart=always

[Install]
WantedBy=multi-user.target
Alias=Deadwood.service
