[Unit]
Description=Deadwood recursive caching DNS resolver
After=syslog.target network.target

[Service]
ExecStart=/usr/sbin/Deadwood -f /etc/maradns/dwood3rc
StandardOutput=syslog
Restart=always

[Install]
WantedBy=multi-user.target
