[Desktop Entry]
Type=MimeType
Patterns=*.b5t;*.B5T;*.b6t;*.B6T
MimeType=application/x-b6t
Icon=cdtrack
Comment=BlindWrite 5/6 image file
Comment[az]=BlindWrite 5/6 əks faylı
Comment[be]=Файл вобразу BlindWrite 5/6
Comment[bg]=Файл снимка BlindWrite 5/6
Comment[bs]=BlindWrite 5/6 image datoteka
Comment[ca]=Fitxer d'imatge BlindWrite 5/6
Comment[cs]=Soubor s BlindWrite 5/6 obrazem
Comment[cy]=Ffeil delwedd BlindWrite 5/6
Comment[da]=BlindWrite 5/6 billedfil
Comment[de]=BlindWrite 5/6-Bilddatei
Comment[el]=Αρχείο εικόνας BlindWrite 5/6
Comment[es]=Archivo de imagen BlindWrite 5/6
Comment[et]=BlindWrite 5/6 tõmmisefail
Comment[eu]=BlindWrite 5/6 irudia fitxategia
Comment[fa]=پرونده‌ی BlindWrite 5/6
Comment[fi]=BlindWrite 5/6 binäärikuva
Comment[fr]=Image BlindWrite 5/6
Comment[ga]=Comhad íomhá BlindWrite 5/6
Comment[gl]=Ficheiro de imaxe BlindWrite 5/6
Comment[he]=קובץ מראה של BlindWrite 5/6
Comment[hi]=BlindWrite 5/6 चित्र फाइल
Comment[hu]=BlindWrite 5/6-képmásfájl
Comment[is]=BlindWrite 5/6 diskmynd
Comment[it]=File immagine BlindWrite 5/6
Comment[ja]=BlindWrite 5/6 イメージ ファイル
Comment[lt]=BlindWrite 5/6 atvaizdo byla
Comment[mn]=BlindWrite 5/6 хэв файл
Comment[nb]=BlindWrite 5/6 bildefil
Comment[nds]=BlindWrite 5/6-Bilddatei
Comment[nl]=BlindWrite 5/6-beeldbestand
Comment[nn]=BlindWrite 5/6-biletfil
Comment[pl]=Plik obrazu systemu plików BlindWrite 5/6
Comment[pt]=Ficheiro com imagem BlindWrite 5/6
Comment[pt_BR]=Imagem BlindWrite 5/6
Comment[ro]=Fişier imagine BlindWrite 5/6
Comment[ru]=Файл образа BlindWrite 5/6
Comment[se]=BlindWrite 5/6-govvafiila
Comment[sk]=Obraz disku BlindWrite 5/6
Comment[sl]=Podoba plošče BlindWrite 5/6
Comment[sr]=Фајл BlindWrite 5/6 одраза
Comment[sr@Latn]=Fajl BlindWrite 5/6 odraza
Comment[sv]=BlindWrite 5/6-avbildsfil
Comment[ta]=BlindWrite 5/6 உருக் கோப்பு
Comment[tg]=Файли тасвири BlindWrite 5/6
Comment[tr]=BlindWrite 5/6 Dosyası
Comment[uk]=Файл образу BlindWrite 5/6
Comment[uz]=BlindWrite 5/6-тасвир файли
Comment[wa]=Fitchî imådje BlindWrite 5/6
Comment[xx]=xxBlindWrite 5/6 image filexx
Comment[zh_CN]=BlindWrite 5/6 映像文件
Comment[zh_TW]=BlindWrite 5/6 映像檔案
