[Desktop Entry]
Type=MimeType
Patterns=*.c2d;*.C2D;
MimeType=application/x-c2d
Icon=cdtrack
Comment=Roxio WinOnCD image file
Comment[az]=Roxio WinOnCD əks faylı
Comment[be]=Файл вобразу Roxio WinOnCD
Comment[bg]=Файл снимка Roxio WinOnCD
Comment[bs]=Roxio WinOnCD image datoteka
Comment[ca]=Fitxer d'imatge Roxio WinOnCD
Comment[cs]=Soubor s Roxio WinOnCD obrazem
Comment[cy]=Ffeil delwedd Roxio WinOnCD
Comment[da]=Roxio WinOnCD billedfil
Comment[de]=Roxio WinOnCD-Bilddatei
Comment[el]=Αρχείο εικόνας Roxio WinOnCD
Comment[es]=Archivo de imagen Roxio WinOnCD
Comment[et]=Roxio WinOnCD tõmmisefail
Comment[eu]=Roxio WinOnCD irudia fitxategia
Comment[fa]=پرونده‌ی Roxio WinOnCD
Comment[fi]=Roxio WinOnCD binäärikuva
Comment[fr]=Image Roxio WinOnCD
Comment[ga]=Comhad íomhá Roxio WinOnCD
Comment[gl]=Ficheiro de imaxe Roxio WinOnCD
Comment[he]=קובץ מראה של Roxio WinOnCD
Comment[hi]=Roxio WinOnCD चित्र फाइल
Comment[hu]=Roxio WinOnCD-képmásfájl
Comment[is]=Roxio WinOnCD diskmynd
Comment[it]=File immagine Roxio WinOnCD
Comment[ja]=Roxio WinOnCD イメージ ファイル
Comment[lt]=Roxio WinOnCD atvaizdo byla
Comment[mn]=Roxio WinOnCD хэв файл
Comment[nb]=Roxio WinOnCD bildefil
Comment[nds]=Roxio WinOnCD-Bilddatei
Comment[nl]=Roxio WinOnCD-beeldbestand
Comment[nn]=Roxio WinOnCD-biletfil
Comment[pl]=Plik obrazu systemu plików Roxio WinOnCD
Comment[pt]=Ficheiro com imagem Roxio WinOnCD
Comment[pt_BR]=Imagem Roxio WinOnCD
Comment[ro]=Fişier imagine Roxio WinOnCD
Comment[ru]=Файл образа Roxio WinOnCD
Comment[se]=Roxio WinOnCD-govvafiila
Comment[sk]=Obraz disku Roxio WinOnCD
Comment[sl]=Podoba plošče Roxio WinOnCD
Comment[sr]=Фајл Roxio WinOnCD одраза
Comment[sr@Latn]=Fajl Roxio WinOnCD odraza
Comment[sv]=Roxio WinOnCD-avbildsfil
Comment[ta]=Roxio WinOnCD உருக் கோப்பு
Comment[tg]=Файли тасвири Roxio WinOnCD
Comment[tr]=Roxio WinOnCD Dosyası
Comment[uk]=Файл образу Roxio WinOnCD
Comment[uz]=Roxio WinOnCD-тасвир файли
Comment[wa]=Fitchî imådje Roxio WinOnCD
Comment[xx]=xxRoxio WinOnCD image filexx
Comment[zh_CN]=Roxio WinOnCD 映像文件
Comment[zh_TW]=Roxio WinOnCD 映像檔案
