[Desktop Entry]
Type=MimeType
Patterns=*.ccd;*.CCD;
MimeType=application/x-ccd
Icon=cdtrack
Comment=CloneCD image file
Comment[az]=CloneCD əks faylı
Comment[be]=Файл вобразу CloneCD
Comment[bg]=Файл снимка CloneCD
Comment[bs]=CloneCD image datoteka
Comment[ca]=Fitxer d'imatge CloneCD
Comment[cs]=Soubor s CloneCD obrazem
Comment[cy]=Ffeil delwedd CloneCD
Comment[da]=CloneCD billedfil
Comment[de]=CloneCD-Bilddatei
Comment[el]=Αρχείο εικόνας CloneCD
Comment[es]=Archivo de imagen CloneCD
Comment[et]=CloneCD tõmmisefail
Comment[eu]=CloneCD irudia fitxategia
Comment[fa]=پرونده‌ی CloneCD
Comment[fi]=CloneCD binäärikuva
Comment[fr]=Image CloneCD
Comment[ga]=Comhad íomhá CloneCD
Comment[gl]=Ficheiro de imaxe CloneCD
Comment[he]=קובץ מראה של CloneCD
Comment[hi]=CloneCD चित्र फाइल
Comment[hu]=CloneCD-képmásfájl
Comment[is]=CloneCD diskmynd
Comment[it]=File immagine CloneCD
Comment[ja]=CloneCD イメージ ファイル
Comment[lt]=CloneCD atvaizdo byla
Comment[mn]=CloneCD хэв файл
Comment[nb]=CloneCD bildefil
Comment[nds]=CloneCD-Bilddatei
Comment[nl]=CloneCD-beeldbestand
Comment[nn]=CloneCD-biletfil
Comment[pl]=Plik obrazu systemu plików CloneCD
Comment[pt]=Ficheiro com imagem CloneCD
Comment[pt_BR]=Imagem CloneCD
Comment[ro]=Fişier imagine CloneCD
Comment[ru]=Файл образа CloneCD
Comment[se]=CloneCD-govvafiila
Comment[sk]=Obraz disku CloneCD
Comment[sl]=Podoba plošče CloneCD
Comment[sr]=Фајл CloneCD одраза
Comment[sr@Latn]=Fajl CloneCD odraza
Comment[sv]=CloneCD-avbildsfil
Comment[ta]=CloneCD உருக் கோப்பு
Comment[tg]=Файли тасвири CloneCD
Comment[tr]=CloneCD Dosyası
Comment[uk]=Файл образу CloneCD
Comment[uz]=CloneCD-тасвир файли
Comment[wa]=Fitchî imådje CloneCD
Comment[xx]=xxCloneCD image filexx
Comment[zh_CN]=CloneCD 映像文件
Comment[zh_TW]=CloneCD 映像檔案
