[Desktop Entry]
Type=MimeType
Patterns=*.cdi;*.CDI;
MimeType=application/x-cdi
Icon=cdtrack
Comment=DiscJuggler image file
Comment[az]=DiscJuggler əks faylı
Comment[be]=Файл вобразу DiscJuggler
Comment[bg]=Файл снимка DiscJuggler
Comment[bs]=DiscJuggler image datoteka
Comment[ca]=Fitxer d'imatge DiscJuggler
Comment[cs]=Soubor s DiscJuggler obrazem
Comment[cy]=Ffeil delwedd DiscJuggler
Comment[da]=DiscJuggler billedfil
Comment[de]=DiscJuggler-Bilddatei
Comment[el]=Αρχείο εικόνας DiscJuggler
Comment[es]=Archivo de imagen DiscJuggler
Comment[et]=DiscJuggler tõmmisefail
Comment[eu]=DiscJuggler irudia fitxategia
Comment[fa]=پرونده‌ی DiscJuggler
Comment[fi]=DiscJuggler binäärikuva
Comment[fr]=Image DiscJuggler
Comment[ga]=Comhad íomhá DiscJuggler
Comment[gl]=Ficheiro de imaxe DiscJuggler
Comment[he]=קובץ מראה של DiscJuggler
Comment[hi]=DiscJuggler चित्र फाइल
Comment[hu]=DiscJuggler-képmásfájl
Comment[is]=DiscJuggler diskmynd
Comment[it]=File immagine DiscJuggler
Comment[ja]=DiscJuggler イメージ ファイル
Comment[lt]=DiscJuggler atvaizdo byla
Comment[mn]=DiscJuggler хэв файл
Comment[nb]=DiscJuggler bildefil
Comment[nds]=DiscJuggler-Bilddatei
Comment[nl]=DiscJuggler-beeldbestand
Comment[nn]=DiscJuggler-biletfil
Comment[pl]=Plik obrazu systemu plików DiscJuggler
Comment[pt]=Ficheiro com imagem DiscJuggler
Comment[pt_BR]=Imagem DiscJuggler
Comment[ro]=Fişier imagine DiscJuggler
Comment[ru]=Файл образа DiscJuggler
Comment[se]=DiscJuggler-govvafiila
Comment[sk]=Obraz disku DiscJuggler
Comment[sl]=Podoba plošče DiscJuggler
Comment[sr]=Фајл DiscJuggler одраза
Comment[sr@Latn]=Fajl DiscJuggler odraza
Comment[sv]=DiscJuggler-avbildsfil
Comment[ta]=DiscJuggler உருக் கோப்பு
Comment[tg]=Файли тасвири DiscJuggler
Comment[tr]=DiscJuggler Dosyası
Comment[uk]=Файл образу DiscJuggler
Comment[uz]=DiscJuggler-тасвир файли
Comment[wa]=Fitchî imådje DiscJuggler
Comment[xx]=xxDiscJuggler image filexx
Comment[zh_CN]=DiscJuggler 映像文件
Comment[zh_TW]=DiscJuggler 映像檔案
