[Desktop Entry]
Type=MimeType
Patterns=*.daa;*.DAA;
MimeType=application/x-daa
Icon=cdtrack
Comment=PowerISO Direct Access Archive image file
Comment[az]=PowerISO Direct Access Archive əks faylı
Comment[be]=Файл вобразу PowerISO Direct Access Archive
Comment[bg]=Файл снимка PowerISO Direct Access Archive
Comment[bs]=PowerISO Direct Access Archive image datoteka
Comment[ca]=Fitxer d'imatge PowerISO Direct Access Archive
Comment[cs]=Soubor s PowerISO Direct Access Archive obrazem
Comment[cy]=Ffeil delwedd PowerISO Direct Access Archive
Comment[da]=PowerISO Direct Access Archive billedfil
Comment[de]=PowerISO Direct Access Archive-Bilddatei
Comment[el]=Αρχείο εικόνας PowerISO Direct Access Archive
Comment[es]=Archivo de imagen PowerISO Direct Access Archive
Comment[et]=PowerISO Direct Access Archive tõmmisefail
Comment[eu]=PowerISO Direct Access Archive irudia fitxategia
Comment[fa]=پرونده‌ی PowerISO Direct Access Archive
Comment[fi]=PowerISO Direct Access Archive binäärikuva
Comment[fr]=Image PowerISO Direct Access Archive
Comment[ga]=Comhad íomhá PowerISO Direct Access Archive
Comment[gl]=Ficheiro de imaxe PowerISO Direct Access Archive
Comment[he]=קובץ מראה של PowerISO Direct Access Archive
Comment[hi]=PowerISO Direct Access Archive चित्र फाइल
Comment[hu]=PowerISO Direct Access Archive-képmásfájl
Comment[is]=PowerISO Direct Access Archive diskmynd
Comment[it]=File immagine PowerISO Direct Access Archive
Comment[ja]=PowerISO Direct Access Archive イメージ ファイル
Comment[lt]=PowerISO Direct Access Archive atvaizdo byla
Comment[mn]=PowerISO Direct Access Archive хэв файл
Comment[nb]=PowerISO Direct Access Archive bildefil
Comment[nds]=PowerISO Direct Access Archive-Bilddatei
Comment[nl]=PowerISO Direct Access Archive-beeldbestand
Comment[nn]=PowerISO Direct Access Archive-biletfil
Comment[pl]=Plik obrazu systemu plików PowerISO Direct Access Archive
Comment[pt]=Ficheiro com imagem PowerISO Direct Access Archive
Comment[pt_BR]=Imagem PowerISO Direct Access Archive
Comment[ro]=Fişier imagine PowerISO Direct Access Archive
Comment[ru]=Файл образа PowerISO Direct Access Archive
Comment[se]=PowerISO Direct Access Archive-govvafiila
Comment[sk]=Obraz disku PowerISO Direct Access Archive
Comment[sl]=Podoba plošče PowerISO Direct Access Archive
Comment[sr]=Фајл PowerISO Direct Access Archive одраза
Comment[sr@Latn]=Fajl PowerISO Direct Access Archive odraza
Comment[sv]=PowerISO Direct Access Archive-avbildsfil
Comment[ta]=PowerISO Direct Access Archive உருக் கோப்பு
Comment[tg]=Файли тасвири PowerISO Direct Access Archive
Comment[tr]=PowerISO Direct Access Archive Dosyası
Comment[uk]=Файл образу PowerISO Direct Access Archive
Comment[uz]=PowerISO Direct Access Archive-тасвир файли
Comment[wa]=Fitchî imådje PowerISO Direct Access Archive
Comment[xx]=xxPowerISO Direct Access Archive image filexx
Comment[zh_CN]=PowerISO Direct Access Archive 映像文件
Comment[zh_TW]=PowerISO Direct Access Archive 映像檔案
