[Desktop Entry]
Type=MimeType
Patterns=*.mds;*.MDS;
MimeType=application/x-mds
Icon=cdtrack
Comment=Media Descriptor File image file
Comment[az]=Media Descriptor File əks faylı
Comment[be]=Файл вобразу Media Descriptor File
Comment[bg]=Файл снимка Media Descriptor File
Comment[bs]=Media Descriptor File image datoteka
Comment[ca]=Fitxer d'imatge Media Descriptor File
Comment[cs]=Soubor s Media Descriptor File obrazem
Comment[cy]=Ffeil delwedd Media Descriptor File
Comment[da]=Media Descriptor File billedfil
Comment[de]=Media Descriptor File-Bilddatei
Comment[el]=Αρχείο εικόνας Media Descriptor File
Comment[es]=Archivo de imagen Media Descriptor File
Comment[et]=Media Descriptor File tõmmisefail
Comment[eu]=Media Descriptor File irudia fitxategia
Comment[fa]=پرونده‌ی Media Descriptor File
Comment[fi]=Media Descriptor File binäärikuva
Comment[fr]=Image Media Descriptor File
Comment[ga]=Comhad íomhá Media Descriptor File
Comment[gl]=Ficheiro de imaxe Media Descriptor File
Comment[he]=קובץ מראה של Media Descriptor File
Comment[hi]=Media Descriptor File चित्र फाइल
Comment[hu]=Media Descriptor File-képmásfájl
Comment[is]=Media Descriptor File diskmynd
Comment[it]=File immagine Media Descriptor File
Comment[ja]=Media Descriptor File イメージ ファイル
Comment[lt]=Media Descriptor File atvaizdo byla
Comment[mn]=Media Descriptor File хэв файл
Comment[nb]=Media Descriptor File bildefil
Comment[nds]=Media Descriptor File-Bilddatei
Comment[nl]=Media Descriptor File-beeldbestand
Comment[nn]=Media Descriptor File-biletfil
Comment[pl]=Plik obrazu systemu plików Media Descriptor File
Comment[pt]=Ficheiro com imagem Media Descriptor File
Comment[pt_BR]=Imagem Media Descriptor File
Comment[ro]=Fişier imagine Media Descriptor File
Comment[ru]=Файл образа Media Descriptor File
Comment[se]=Media Descriptor File-govvafiila
Comment[sk]=Obraz disku Media Descriptor File
Comment[sl]=Podoba plošče Media Descriptor File
Comment[sr]=Фајл Media Descriptor File одраза
Comment[sr@Latn]=Fajl Media Descriptor File odraza
Comment[sv]=Media Descriptor File-avbildsfil
Comment[ta]=Media Descriptor File உருக் கோப்பு
Comment[tg]=Файли тасвири Media Descriptor File
Comment[tr]=Media Descriptor File Dosyası
Comment[uk]=Файл образу Media Descriptor File
Comment[uz]=Media Descriptor File-тасвир файли
Comment[wa]=Fitchî imådje Media Descriptor File
Comment[xx]=xxMedia Descriptor File image filexx
Comment[zh_CN]=Media Descriptor File 映像文件
Comment[zh_TW]=Media Descriptor File 映像檔案
