[Desktop Entry]
Type=MimeType
Patterns=*.nrg;*.NRG;
MimeType=application/x-nrg
Icon=cdimage
Comment=Nero Burning ROM image file
Comment[az]=Nero Burning ROM əks faylı
Comment[be]=Файл вобразу Nero Burning ROM
Comment[bg]=Файл снимка Nero Burning ROM
Comment[bs]=Nero Burning ROM image datoteka
Comment[ca]=Fitxer d`imatge Nero Burning ROM
Comment[cs]=Soubor s Nero Burning ROM obrazem
Comment[cy]=Ffeil delwedd Nero Burning ROM
Comment[da]=Nero Burning ROM billedfil
Comment[de]=Nero Burning ROM-Bilddatei
Comment[el]=Αρχείο εικόνας Nero Burning ROM
Comment[es]=Archivo de imagen Nero Burning ROM
Comment[et]=Nero Burning ROM tõmmisefail
Comment[eu]=Nero Burning ROM irudia fitxategia
Comment[fa]=پرونده‌ی Nero Burning ROM
Comment[fi]=Nero Burning ROM binäärikuva
Comment[fr]=Image Nero Burning ROM
Comment[gl]=Ficheiro de imaxe Nero Burning ROM
Comment[he]=קובץ מראה של Nero Burning ROM
Comment[hi]=Nero Burning ROM चित्र फाइल
Comment[hu]=Nero Burning ROM-képmásfájl
Comment[it]=File immagine Nero Burning ROM
Comment[lt]=Nero Burning ROM atvaizdo byla
Comment[mn]=Nero Burning ROM хэв файл
Comment[nb]=Nero Burning ROM bildefil
Comment[nl]=Nero Burning ROM-beeldbestand
Comment[nn]=Nero Burning ROM-biletfil
Comment[pl]=Plik obrazu systemu plików Nero Burning ROM
Comment[pt]=Ficheiro com imagem Nero Burning ROM
Comment[pt_BR]=Imagem Nero Burning ROM
Comment[ro]=Fişier imagine Nero Burning ROM
Comment[ru]=Файл образа Nero Burning ROM
Comment[se]=Nero Burning ROM-govvafiila
Comment[sk]=Obraz disku Nero Burning ROM
Comment[sl]=Podoba plošče Nero Burning ROM
Comment[sr]=Фајл Nero Burning ROM одраза
Comment[sv]=Nero Burning ROM-avbildsfil
Comment[ta]=Nero Burning ROM உருக் கோப்பு
Comment[tg]=Файли тасвири Nero Burning ROM
Comment[tr]=Nero Burning ROM Dosyası
Comment[uk]=Файл образу Nero Burning ROM
Comment[uz]=Nero Burning ROM-тасвир файли
Comment[wa]=Fitchî imådje Nero Burning ROM
Comment[xx]=xxNero Burning ROM image filexx
Comment[zh_CN]=Nero Burning ROM 映像文件
Comment[zh_TW]=Nero Burning ROM 映像檔案

