[Desktop Entry]
Type=MimeType
Patterns=*.nrg;*.NRG;
MimeType=application/x-nrg
Icon=cdimage
Comment=NRG image file
Comment[az]=NRG əks faylı
Comment[be]=Файл вобразу NRG
Comment[bg]=Файл снимка NRG
Comment[bs]=NRG image datoteka
Comment[ca]=Fitxer d`imatge NRG
Comment[cs]=Soubor s NRG obrazem
Comment[cy]=Ffeil delwedd NRG
Comment[da]=NRG billedfil
Comment[de]=NRG-Bilddatei
Comment[el]=Αρχείο εικόνας NRG
Comment[es]=Archivo de imagen NRG
Comment[et]=NRG tõmmisefail
Comment[eu]=NRG irudia fitxategia
Comment[fa]=پرونده‌ی NRG
Comment[fi]=NRG binäärikuva
Comment[fr]=Image NRG
Comment[gl]=Ficheiro de imaxe NRG
Comment[he]=קובץ מראה של NRG
Comment[hi]=NRG चित्र फाइल
Comment[hu]=NRG-képmásfájl
Comment[it]=File immagine NRG
Comment[lt]=NRG atvaizdo byla
Comment[mn]=NRG хэв файл
Comment[nb]=NRG bildefil
Comment[nl]=NRG-beeldbestand
Comment[nn]=NRG-biletfil
Comment[pl]=Plik obrazu systemu plików NRG
Comment[pt]=Ficheiro com imagem NRG
Comment[pt_BR]=Imagem NRG
Comment[ro]=Fişier imagine NRG
Comment[ru]=Файл образа NRG
Comment[se]=NRG-govvafiila
Comment[sk]=Obraz disku NRG
Comment[sl]=Podoba plošče NRG
Comment[sr]=Фајл NRG одраза
Comment[sv]=NRG-avbildsfil
Comment[ta]=NRG உருக் கோப்பு
Comment[tg]=Файли тасвири NRG
Comment[tr]=NRG Dosyası
Comment[uk]=Файл образу NRG
Comment[uz]=NRG-тасвир файли
Comment[wa]=Fitchî imådje NRG
Comment[xx]=xxNRG image filexx
Comment[zh_CN]=NRG 映像文件
Comment[zh_TW]=NRG 映像檔案

