[Desktop Entry]
Comment=OptimFROG Audio
Comment[pt_BR]=Áudio OptimFROG
Hidden=false
Icon=sound
MimeType=application/x-ofr
Patterns=*.ofr;*.OFR;
Type=MimeType
X-KDE-AutoEmbed=false
