[Desktop Entry]
Comment=OptimFROG DualStream Correction file
Comment[pt_BR]=Arquivo de Correção OptimFROG DualStream
Hidden=false
Icon=sound
MimeType=application/x-ofc
Patterns=*.ofc;*.OFC;
Type=MimeType
X-KDE-AutoEmbed=false
