[Desktop Entry]
Comment=SlackBuild script
Comment[pt_BR]=Script SlackBuild
Hidden=false
Icon=shellscript
MimeType=application/x-slackbuild
Patterns=*.SlackBuild;*.slackbuild;*.SLACKBUILD;
Type=MimeType
X-KDE-IsAlso=application/x-slackbuild

[Property::X-KDE-text]
Type=bool
Value=true
