[Desktop Entry]
Comment=XZ-ed Tar Archive
Comment[af]=XZ-ed Tar Argief
Comment[be]=Архіў Tar, сціснуты XZ
Comment[bg]=Компресиран архив Tar с XZ
Comment[br]=Diell Tar XZet
Comment[bs]=XZ-ovana Tar arhiva
Comment[ca]=Arxiu tar i XZ
Comment[cs]=Bzipovaný tar archív
Comment[csb]=Archiwa spakòwóné przez Tar ë XZ
Comment[da]=XZ TAR-arkiver
Comment[de]=XZ-komprimiertes Tar-Archiv
Comment[el]=Συμπιεσμένη αρχειοθήκη tar με bzip-2
Comment[eo]=XZ-Tar-arĥivo
Comment[es]=Archivo Tar comprimido con XZ
Comment[et]=XZ-tihendusega tar-arhiiv
Comment[eu]=Tar+BZIP artxiboa
Comment[fa]=بایگانی‌بان XZ-ed
Comment[fi]=XZ-pakattu Tar-paketti
Comment[fr]=Archive Tar compressée par XZ
Comment[fy]=Mei XZ ynpakt Tar-argyf
Comment[ga]=Cartlann tar comhbhrúite le XZ
Comment[gl]=Arquivo Tar XZ
Comment[he]=ארכיון Tar דחוס ע"י Bzip
Comment[hr]=BZip TAR arhiva
Comment[hu]=XZ.tar-archívum
Comment[id]=Arsip Tar XZ
Comment[is]=XZ þjappað tar-safn
Comment[it]=Archivio Tar compresso con XZ
Comment[ja]=XZ 圧縮された Tar アーカイブ
Comment[ka]=XZ შეკუმშული Tar არქივი
Comment[kk]=XZ-мен сығылған Tar архиві
Comment[km]=ប័ណ្ណសារ XZ-ed Tar
Comment[lb]=Mat XZ kompriméierten Tar-Archiv
Comment[lt]=Tar archyvas, suglaudintas su XZ
Comment[lv]=Ar XZ saspiests TAR arhīvs
Comment[mk]=Bzip-увана Tar-архива
Comment[ms]=Arkib Tar diXZkan
Comment[nb]=XZ-et tar-arkiv
Comment[nds]=XZ-komprimeert Tar-Archiv
Comment[ne]=XZ-ed टार सङ्ग्रह
Comment[nl]=Met XZ ingepakt Tar-archief
Comment[nn]=XZa tar-arkiv
Comment[pa]=XZ-ed ਟਾਰ ਆਰਚੀਵ
Comment[pl]=Archiwum po tarowaniu i spakowaniu XZ
Comment[pt]=Pacote Tar comprimido com XZ
Comment[pt_BR]=Arquivo TAR XZ
Comment[ro]=Arhivă Tar comprimată cu XZ
Comment[ru]=Сжатый bzip архив tar
Comment[se]=Bzipp2ejuvvon Tar-arkiiva
Comment[sk]=XZ Tar archív
Comment[sl]=Z XZ stisnjeni arhiv tar
Comment[sr]=XZ-ована TAR архива
Comment[sr@Latn]=XZ-ovana TAR arhiva
Comment[sv]=XZ-komprimerat tar-arkiv
Comment[te]=బిజిప్ చేయబడిన టార్ ఆర్కైవ్
Comment[tg]=Архиви Tar XZ-карда шуд
Comment[th]=แฟ้ม Tar บีบอัดด้วย XZ
Comment[tr]=XZ ile Sıkıştırılmış Tar Arşivi
Comment[uk]=Архів Tar, стиснутий XZ
Comment[uz]=Bzip bilan qisilgan Tar arxivi
Comment[uz@cyrillic]=Bzip билан қисилган Tar архиви
Comment[vi]=Bản Tar đã nén Bzip
Comment[zh_CN]=Bzip 压缩的 Tar 归档
Comment[zh_HK]=XZ 壓縮的 Tar 保存檔
Comment[zh_TW]=XZ-ed Tar 壓縮文件
MimeType=application/x-txz
Icon=tgz
Type=MimeType
Patterns=*.tar.xz;*.txz;*.TAR.XZ;*.TXZ;
X-KDE-IsAlso=application/x-xz-compressed-tar

[Property::X-KDE-LocalProtocol]
Type=QString
Value=tar

[Property::X-KDE-NativeExtension]
Type=QString
Value=.tar.xz
