[Unit]
Description=qBitorrent client
After=syslog.target network.target local-fs.target
Wants=local-fs.target

[Service]
ExecStart=/usr/libexec/qbittorrent-run-as-user

[Install]
WantedBy=multi-user.target
