[Unit]
Description=NFS server
After=syslog.target network.target rpcbind.target rpcbind.service
Requires=rpcbind.service
ConditionPathExists=/etc/rc.d/rc.nfsd

[Service]
ExecStop=/etc/rc.d/rc.nfsd stop
ExecStart=/etc/rc.d/rc.nfsd start
ExecReload=/etc/rc.d/rc.nfsd restart
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
