[Desktop Entry]
Comment=SHA256 Hash file
Comment[pt_BR]=Arquivo de hash SHA256
Hidden=false
Icon=info
MimeType=text/sha256
Patterns=*.SHA256;*.sha256;*.SHA256SUM;*.sha256sum;
Type=MimeType

[Property::X-KDE-text]
Type=bool
Value=true
