[Desktop Entry]
Comment=SHA512 Hash file
Comment[pt_BR]=Arquivo de hash SHA512
Hidden=false
Icon=info
MimeType=text/sha512
Patterns=*.SHA512;*.sha512;*.SHA512SUM;*.sha512sum
Type=MimeType

[Property::X-KDE-text]
Type=bool
Value=true
