[Unit]
Description=Display Manager
After=syslog.target rc-local.service systemd-user-sessions.service dev-tty7.device
Requires=dev-tty7.device
ConditionFileIsExecutable=/etc/rc.d/rc.4

[Service]
ExecStart=/etc/rc.d/rc.4
Restart=always
RestartSec=0
