[Unit]
Description=Network Connectivity
Before=network.target
After=syslog.target
Wants=network.target

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/etc/rc.d/rc.inet1 start
ExecStop=/etc/rc.d/rc.inet1 stop

[Install]
WantedBy=network.target
Alias=network.service
