[Unit]
Description=DansGuardian content filter
After=network.target

[Service]
Type=forking
PIDFile=/var/run/dansguardian.pid
ExecStart=/usr/sbin/dansguardian
ExecReload=/bin/kill -HUP $MAINPID

[Install]
WantedBy=multi-user.target
