[Unit]
Description=GNU Krell Monitors server
After=network.target hddtemp.service

[Service]
ExecStart=/usr/sbin/gkrellmd

[Install]
WantedBy=multi-user.target
