# /lib/udev/rules.d/40-slackware.rules
#
# Slackware custom udev rules
# Also see the following Slackware-provided custom rules files:
# 65-permissions.rules and 90-network.rules
#
# Any change in this file will be overwritten in upgrades. Put your
# custom rules somewhere else (90-local.rules is a good idea).
#
# See the udev man page to know the parameters you can use in udev
# rules.
#

# capi devices
KERNEL=="capi",		NAME="capi20", SYMLINK+="isdn/capi20"
KERNEL=="capi*",	NAME="capi/%n"

# i2c devices
KERNEL=="i2c-[0-9]*",	NAME="i2c/%n", SYMLINK+="%k"

# input devices
KERNEL=="mice",		SYMLINK+="mouse"

# tty, pty and vc devices
KERNEL=="pty[p-za-f][0-9a-f]*",	NAME="pty/m%m", SYMLINK+="%k"
KERNEL=="tty[p-za-f][0-9a-f]*",	NAME="pty/s%m", SYMLINK+="%k"
KERNEL=="tty[0-9]*",	NAME="vc/%n",  SYMLINK+="%k"
KERNEL=="vcs",		NAME="vcc/0",	SYMLINK+="%k"
KERNEL=="vcs[0-9]*",	NAME="vcc/%n",	SYMLINK+="%k"
KERNEL=="vcsa",		NAME="vcc/a0",	SYMLINK+="%k"
KERNEL=="vcsa[0-9]*",	NAME="vcc/a%n",	SYMLINK+="%k"
KERNEL=="console",	GROUP="tty"

# serial or dialout devices
KERNEL=="ttyS[0-9]*",	NAME="tts/%n", SYMLINK+="%k", GROUP="uucp", MODE="0660"
KERNEL=="ttyUSB[0-9]*",	NAME="tts/USB%n", SYMLINK+="%k", GROUP="uucp", MODE="0660"
KERNEL=="ippp0",	GROUP="uucp"
KERNEL=="isdn*",	GROUP="uucp"
KERNEL=="dcbri*",	GROUP="uucp"

# usb devices
KERNEL=="hiddev*",		NAME="usb/%k"
KERNEL=="legousbtower*",	NAME="usb/%k"
KERNEL=="dabusb*",		NAME="usb/%k"

# Asterix Zaptel devices
KERNEL=="zapctl",	NAME="zap/ctl"
KERNEL=="zaptimer",	NAME="zap/timer"
KERNEL=="zapchannel",	NAME="zap/channel"
KERNEL=="zappseudo",	NAME="zap/pseudo"
KERNEL=="zap[0-9]*",	NAME="zap/%n"

# pilot/palm devices
KERNEL=="pilot",	GROUP="uucp"

# lp devices
KERNEL=="parport[0-9]*",	MODE="0664"
SUBSYSTEM=="printer",		KERNEL=="lp*", MODE="0664"
KERNEL=="irlpt[0-9]*",		MODE="0664"
SUBSYSTEM=="usb", 		KERNEL=="lp*", MODE="0664"

# kbd devices
KERNEL=="kbd",		MODE="0664"

# Sony Vaio Jogdial sonypi device
KERNEL=="sonypi",	MODE="0666"

# infiniband devices
KERNEL=="umad*",	NAME="infiniband/%k"
KERNEL=="issm*", 	NAME="infiniband/%k"

# NVRAM device
KERNEL=="nvram",        GROUP="kmem", MODE="660"
