[Desktop Entry]
Name=XMMS
GenericName=Audio Player
GenericName[pt_BR]=Reprodutor de Áudio
Comment=A simple audio player (XMMS)
Exec=xmms -e -p %F
Icon=xmms
Terminal=false
MimeType=audio/x-mp3;audio/mp3;audio/mpeg;audio/x-mp2;audio/mp2;audio/ogg;application/ogg;audio/x-musepack;audio/x-mod;audio/x-flac;audio/flac;audio/x-wav;audio/x-mpegurl;audio/x-scpls;audio/x-psf;audio/x-nsf;audio/x-spc;audio/x-gym;audio/vorbis;audio/x-mac;audio/aac;audio/mp4;audio/x-wavpack;
Type=Application
Categories=GTK;AudioVideo;
StartupWMClass=xmms
