[Unit]
Description=Samba NMB Daemon
After=syslog.target network.target

[Service]
Type=forking
PIDFile=/run/nmbd.pid
EnvironmentFile=-/etc/default/samba
ExecStart=/usr/sbin/nmbd -D $NMBD_OPTIONS

[Install]
WantedBy=multi-user.target

