[Unit]
Description=Samba NetBIOS name server
After=syslog.target network.target

[Service]
ExecStart=/usr/sbin/nmbd -F

[Install]
WantedBy=multi-user.target
