[Unit]
Description=Samba SMB Daemon
After=syslog.target network.target

[Service]
Type=forking
PIDFile=/run/smbd.pid
LimitNOFILE=16384
EnvironmentFile=-/etc/default/samba
ExecStart=/usr/sbin/smbd -D $SMBD_OPTIONS

[Install]
WantedBy=multi-user.target
