[Unit]
Description=YP Bind
Requires=rpcbind.service domainname.service
After=rpcbind.service domainname.service network.target

[Service]
Type=forking
PIDFile=/var/run/ypbind.pid
ExecStart=/usr/sbin/ypbind

[Install]
WantedBy=multi-user.target
