[Unit]
Description=The BSD Internet super-daemon
After=syslog.target network.target

[Service]
Type=forking
ExecStart=/usr/sbin/inetd
ExecReload=/bin/kill -HUP $MAINPID

[Install]
WantedBy=multi-user.target
