# The xpra service unit file
#
# Quick HowTo:
# 1. Copy this file to /etc/systemd/system/xpra@:<display>.service
# 2. Edit "User" and "ExecStart" variables appropriately
# 	(ExecStart should be "/usr/bin/xpra start %i -arg1 -arg2")
# 3. Run `systemctl daemon-reload`
#

[Unit]
Description=screen for X (xpra)
After=network.target

[Service]
Type=forking
User=root
ExecStartPre=/bin/sh -c '/usr/bin/xpra stop %i > /dev/null 2>&1 || :'
ExecStart=/usr/bin/xpra start %i
ExecStop=/usr/bin/xpra stop %i

[Install]
WantedBy=multi-user.target
