[Unit]
Description=MySQL compatibility service (another name for mariadb.service; you should use mariadb.service instead)
BindsTo=mariadb.service

[Service]
Type=oneshot
ExecStart=/bin/true
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
Also=mariadb.service
