[Unit]
Description=Postfix Mail Transfer Agent
After=syslog.target network.target
ConditionFileIsExecutable=/etc/rc.d/rc.postfix

[Service]
ExecStop=/etc/rc.d/rc.postfix stop
ExecStart=/etc/rc.d/rc.postfix start
ExecReload=/etc/rc.d/rc.postfix restart
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
