[Unit]
Description=Run fc-cache
Before=display-manager.service
After=ldconfig.service

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/bin/fc-cache -f

[Install]
WantedBy=graphical.target
