[Unit]
Description=Frozen-Bubble Server Daemon
After=network.target

[Service]
User=fbubble
Group=fbubble
Type=forking
ExecStart=/usr/bin/fb-server -c /etc/fb-server.conf

[Install]
WantedBy=multi-user.target
