[Unit]
Description=Frozen-Bubble server
After=syslog.target network.target

[Service]
Type=forking
ExecStart=/usr/bin/fb-server -c /etc/fb-server.conf
StandardOutput=syslog
User=fbubble
Group=fbubble

[Install]
WantedBy=multi-user.target
