[Unit]
Description=Frozen-Bubble server
After=network.target
ConditionPathExists=/etc/rc.d/rc.fbserver

[Service]
ExecStop=/etc/rc.d/rc.fbserver stop
ExecStart=/etc/rc.d/rc.fbserver start
ExecReload=/etc/rc.d/rc.fbserver restart
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
