[Unit]
Description=Simple Network Management Protocol (SNMP) Trap Daemon.
After=network.target

[Service]
Type=notify
Environment=SNMPTD_OPTIONS="-Lsd"
EnvironmentFile=-/etc/default/snmptrapd
ExecStart=/usr/sbin/snmptrapd $SNMPTD_OPTIONS -f
ExecReload=/bin/kill -HUP $MAINPID

[Install]
WantedBy=multi-user.target
