[Unit]
Description=Run update-gtk-immodules-3.0
Before=display-manager.service
After=ldconfig.service gio-modules.service glib-compile-schemas.service pango-querymodules.service gdk-pixbuf-loaders.service

[Service]
Type=oneshot
RemainAfterExit=no
ExecStart=/usr/bin/update-gtk-immodules-3.0
StandardOutput=null

[Install]
WantedBy=graphical.target
