[Desktop Entry]
Type=Service
Actions=AVIInfo;
Icon=video-x-generic
X-KDE-ServiceTypes=KonqPopupMenu/Plugin,video/x-msvideo
X-KDE-Priority=TopLevel

[Desktop Action AVIInfo]
Name=AVI information
Name[pt_BR]=Informação AVI
Exec=_DATADIR_/konqinfohelper --avi "%f"
Icon=video-x-generic
