[Desktop Entry]
Type=Service
Actions=JPEGInfo;
Icon=image-jpeg
X-KDE-ServiceTypes=KonqPopupMenu/Plugin,image/jpeg
X-KDE-Priority=TopLevel

[Desktop Action JPEGInfo]
Name=JPEG information
Name[pt_BR]=Informação JPEG
Exec=_DATADIR_/konqinfohelper --jpg "%f"
Icon=image-jpeg
