[Desktop Entry]
Type=Service
Actions=MPGInfo;
Icon=video-x-generic
X-KDE-ServiceTypes=KonqPopupMenu/Plugin,video/mpeg
X-KDE-Priority=TopLevel

[Desktop Action MPGInfo]
Name=MPEG information
Name[pt_BR]=Informação MPEG
Exec=_DATADIR_/konqinfohelper --mpg "%f"
Icon=video-x-generic
