[Desktop Entry]
Type=Service
Actions=PNGInfo;
Icon=image-png
X-KDE-ServiceTypes=KonqPopupMenu/Plugin,image/png
X-KDE-Priority=TopLevel

[Desktop Action PNGInfo]
Name=PNG information
Name[pt_BR]=Informação PNG
Exec=_DATADIR_/konqinfohelper --png "%f"
Icon=image-png
