[Desktop Entry]
Type=Service
Actions=TGAInfo;
Icon=image
X-KDE-ServiceTypes=KonqPopupMenu/Plugin,image/x-tga
X-KDE-Priority=TopLevel

[Desktop Action TGAInfo]
Name=TGA information
Name[pt_BR]=Informação TGA
Exec=_DATADIR_/konqinfohelper --tga "%f"
Icon=image
