[Unit]
Description=A caching web proxy
After=syslog.target

[Service]
Type=oneshot
User=polipo
Group=polipo
EnvironmentFile=/etc/default/polipo
ExecStart=/usr/sbin/polipo -c $CONFIG
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
