# -*- text -*-
# This file has the Fedora specific configuration for lyx.
# If you want to make your own modifications you should do them from
# inside LyX and save.

Format 1

\hunspelldir_path "/usr/share/myspell/"
\thesaurusdir_path "/usr/share/mythes/"

\serverpipe "~/.lyx/lyxpipe"

\screen_zoom 100
\screen_font_roman "Serif"
\screen_font_sans "Sans Serif"
\screen_font_typewriter "Monospace"
