[Unit]
Description = Anonymizing overlay network for TCP
After = syslog.target network.target

[Service]
Environment = TOR_SHUTDOWN_WAIT=30
Environment = TOR_NOFILE=4096
EnvironmentFile = -/etc/default/tor

Type = simple
ExecStart = /usr/bin/tor --quiet
ExecReload = /bin/kill -HUP ${MAINPID}
ExecStop = /bin/kill -INT ${MAINPID}
TimeoutSec = ${TOR_SHUTDOWN_WAIT}
Restart = on-failure
LimitNOFILE = ${TOR_NOFILE}

[Install]
WantedBy = multi-user.target
