[Unit]
Description=CGroups Rules Engine Daemon
After=syslog.target

[Service]
Type=forking
EnvironmentFile=-/etc/default/cgred
ExecStart=/sbin/cgrulesengd $OPTIONS

[Install]
WantedBy=multi-user.target
