/config-*
!/config-custom.*
!/config-ax78.*
!/config-k8
!/config-amdfam10
!/config-vbox.*
/*.bz2
/*.xz
/update-patches.sh
/kernel
/dsdt/*.xz
/dsdt/*.dsl
/dsdt/*.hex
/fblogo/*.xz
/fblogo/*.png
/fblogo/*.ppm
!/patches/*.patch
!/patches/*.diff
/patches/bfq_patches/
