/config-*
!/config-custom
!/config-k8
!/config-amdfam10
/*.bz2
/*.xz
/update-patches.sh
/kernel
/dsdt/*.xz
/dsdt/*.dsl
/dsdt/*.hex
/fblogo/*.xz
/fblogo/*.png
/fblogo/*.ppm
!/patches/*.patch
!/patches/*.diff
