[Unit]
Description=XMMS2 daemon
After=network.target sound.target local-fs.target

[Service]
Type=forking
EnvironmentFile=/etc/default/xmms2d
User=xmms2
Group=xmms2
ExecStart=/usr/bin/xmms2-launcher -P /tmp/xmms2d-%u.pid $XMMS2_OPTIONS
ExecStop=/usr/bin/xmms2 quit

[Install]
WantedBy=multi-user.target
