[Unit]
Description=KVM kernel module
After=syslog.target
ConditionFileIsExecutable=/etc/rc.d/rc.kvm

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/etc/rc.d/rc.kvm start
ExecStop=/etc/rc.d/rc.kvm stop

[Install]
WantedBy=multi-user.target
