[Unit]
Description=Squid Internet Object Cache
After=syslog.target network.target local-fs.target
Wants=local-fs.target
ConditionPathExists=/etc/rc.d/rc.squid

[Service]
ExecStop=/etc/rc.d/rc.squid stop
ExecStart=/etc/rc.d/rc.squid start
ExecReload=/etc/rc.d/rc.squid restart
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
