[Unit]
Description=Squid Internet Object Cache
After=syslog.target network.target named.service

[Service]
Type=forking
LimitNOFILE=16384
EnvironmentFile=/etc/default/squid
ExecStartPre=/usr/libexec/squid/cache_swap.sh
ExecStart=/usr/sbin/squid $SQUID_OPTS -f $SQUID_CONF
ExecReload=/usr/sbin/squid $SQUID_OPTS -k reconfigure -f $SQUID_CONF
ExecStop=/usr/sbin/squid -k shutdown -f $SQUID_CONF

[Install]
WantedBy=multi-user.target
