[Unit]
Description=Squid Internet Object Cache
After=syslog.target network.target

[Service]
Type=forking
EnvironmentFile=/etc/default/squid
ExecStart=/usr/sbin/squid $SQUID_OPTS -f $SQUID_CONF
ExecReload=/usr/sbin/squid $SQUID_OPTS -k reconfigure -f $SQUID_CONF
ExecStop=/usr/sbin/squid -k shutdown -f $SQUID_CONF

[Install]
WantedBy=multi-user.target
