[Unit]
Description=Console Mouse manager
After=syslog.target
ConditionFileIsExecutable=/etc/rc.d/rc.gpm

[Service]
ExecStop=/etc/rc.d/rc.gpm stop
ExecStart=/etc/rc.d/rc.gpm start
ExecReload=/etc/rc.d/rc.gpm restart
RemainAfterExit=yes
PIDFile=/var/run/gpm.pid

[Install]
WantedBy=multi-user.target
