[Unit]
Description=Wesnoth game server
After=network.target

[Service]
EnvironmentFile=-/etc/default/wesnothd
Type=forking
User=wesnothd
ExecStart=/usr/sbin/wesnothd --daemon $WESNOTHD_OPTIONS

[Install]
WantedBy=multi-user.target
