[Unit]
Description=The Wesnoth server
After=syslog.target network.target local-fs.target remote-fs.target
ConditionFileIsExecutable=/etc/rc.d/rc.wesnothd

[Service]
ExecStop=/etc/rc.d/rc.wesnothd stop
ExecStart=/etc/rc.d/rc.wesnothd start
ExecReload=/etc/rc.d/rc.wesnothd restart
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
