[Unit]
Description=Canna Japanese Conversion Engine
After=syslog.target var-lock.mount
ConditionFileIsExecutable=/etc/rc.d/rc.canna

[Service]
ExecStop=/etc/rc.d/rc.canna stop
ExecStart=/etc/rc.d/rc.canna start
ExecReload=/etc/rc.d/rc.canna restart
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
