[Unit]
Description=ZNC IRC bouncer
After=syslog.target network.target local-fs.target
Wants=local-fs.target

[Service]
Type=forking
ExecStart=/usr/libexec/znc-run-as-user

[Install]
WantedBy=multi-user.target
