[Unit]
Description=Run update-mime-database
Before=display-manager.service
After=ldconfig.service gio-modules.service update-desktop-database.service

[Service]
Type=oneshot
RemainAfterExit=no
ExecStart=/usr/bin/update-mime-database /usr/share/mime
StandardOutput=null

[Install]
WantedBy=graphical.target
