[Unit]
Description=Job spooling tools
After=syslog.target

[Service]
EnvironmentFile=/etc/default/atd
ExecStart=/usr/sbin/atd -f $ATD_OPTS

[Install]
WantedBy=multi-user.target
