[Unit]
Description=Processor frequency scaling
After=syslog.target var-lock.mount
ConditionFileIsExecutable=/etc/rc.d/rc.cpuspeed

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/etc/rc.d/rc.cpuspeed start
ExecStop=/etc/rc.d/rc.cpuspeed stop

[Install]
WantedBy=basic.target
