[Unit]
Description=Tvheadend TV streaming server
After=network.target local-fs.target

[Service]
Type=forking
PIDFile=/run/tvheadend.pid
EnvironmentFile=/etc/default/tvheadend
ExecStart=/usr/bin/tvheadend -f -u tvheadend -g tvheadend -c $TVHE_CONFIG -p /run/tvheadend.pid -w $TVHE_PORT -e $TVHE_PORT2 $TVHE_OPTIONS
ExecStop=/usr/bin/rm /run/tvheadend.pid
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
