<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE policyconfig PUBLIC
 "-//freedesktop//DTD PolicyKit Policy Configuration 1.0//EN"
 "http://www.freedesktop.org/standards/PolicyKit/1.0/policyconfig.dtd">

<!-- 
Policy definitions for HAL's ACL Management mechanism

Copyright (c) 2007 David Zeuthen <david@fubar.dk>

HAL is licensed to you under your choice of the the Academic Free
License Version 2.1, or the GNU General Public License version 2. Some
individual source files may be under the GPL only. See COPYING for
details.
-->

<policyconfig>

  <action id="org.freedesktop.hal.power-management.shutdown">
    <description>Shut down the system</description>
    <message>System policy prevents shutting down the system</message>
    <defaults>
      <allow_inactive>no</allow_inactive>
      <allow_active>yes</allow_active>
    </defaults>
  </action>
  
  <action id="org.freedesktop.hal.power-management.shutdown-multiple-sessions">
    <description>Shut down the system when multiple users are logged in</description>
    <message>System policy prevents shutting down the system while multiple users are logged in</message>
    <defaults>
      <allow_inactive>no</allow_inactive>
      <allow_active>auth_admin</allow_active>
    </defaults>
  </action>
  
  <action id="org.freedesktop.hal.power-management.reboot">
    <description>Reboot the system</description>
    <message>System policy prevents rebooting the system</message>
    <defaults>
      <allow_inactive>no</allow_inactive>
      <allow_active>yes</allow_active>
    </defaults>
  </action>
  
  <action id="org.freedesktop.hal.power-management.reboot-multiple-sessions">
    <description>Reboot the system when multiple users are logged in</description>
    <message>System policy prevents rebooting the system while multiple users are logged in</message>
    <defaults>
      <allow_inactive>no</allow_inactive>
      <allow_active>auth_admin</allow_active>
    </defaults>
  </action>
  
  <action id="org.freedesktop.hal.power-management.set-powersave">
    <description>Configure to system to prefer power savings</description>
    <message>System policy prevents enabling power savings</message>
    <defaults>
      <allow_inactive>no</allow_inactive>
      <allow_active>yes</allow_active>
    </defaults>
  </action>
  
  <action id="org.freedesktop.hal.power-management.suspend">
    <description>Suspend the system</description>
    <message>System policy prevents suspending the system</message>
    <defaults>
      <allow_inactive>no</allow_inactive>
      <allow_active>yes</allow_active>
    </defaults>
  </action>
  
  <action id="org.freedesktop.hal.power-management.hibernate">
    <description>Hibernate the system</description>
    <message>System policy prevents hibernating the system</message>
    <defaults>
      <allow_inactive>no</allow_inactive>
      <allow_active>yes</allow_active>
    </defaults>
  </action>
  
  <action id="org.freedesktop.hal.power-management.cpufreq">
    <description>Configure CPU frequency scaling</description>
    <message>System policy prevents CPU frequency scaling to be configured</message>
    <defaults>
      <allow_inactive>no</allow_inactive>
      <allow_active>yes</allow_active>
    </defaults>
  </action>
  
  <action id="org.freedesktop.hal.power-management.lcd-panel">
    <description>Set laptop panel brightness</description>
    <message>System policy prevents adjusting the laptop panel brightness</message>
    <defaults>
      <allow_inactive>no</allow_inactive>
      <allow_active>yes</allow_active>
    </defaults>
  </action>
  
  <action id="org.freedesktop.hal.power-management.light-sensor">
    <description>Detect ambient light using light sensor</description>
    <message>System policy prevents accessing the ambient light sensor</message>
    <defaults>
      <allow_inactive>no</allow_inactive>
      <allow_active>yes</allow_active>
    </defaults>
  </action>
  
  <action id="org.freedesktop.hal.power-management.keyboard-backlight">
    <description>Set keyboard backlight</description>
    <message>System policy prevents adjusting the keyboard backlight</message>
    <defaults>
      <allow_inactive>no</allow_inactive>
      <allow_active>yes</allow_active>
    </defaults>
  </action>

</policyconfig>
