<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE policyconfig PUBLIC
 "-//freedesktop//DTD PolicyKit Policy Configuration 1.0//EN"
 "http://www.freedesktop.org/standards/PolicyKit/1.0/policyconfig.dtd">

<policyconfig>

  <action id="org.freedesktop.hal.wol.enabled">
    <description>If Wake on LAN is enabled</description>
    <message>System policy prevents checking if Wake on LAN is enabled</message>
    <defaults>
      <allow_inactive>no</allow_inactive>
      <allow_active>yes</allow_active>
    </defaults>
  </action>

  <action id="org.freedesktop.hal.wol.enable">
    <description>Enable or disable Wake on LAN</description>
    <message>System policy prevents enabling or disabling Wake on LAN</message>
    <defaults>
      <allow_inactive>no</allow_inactive>
      <allow_active>yes</allow_active>
    </defaults>
  </action>

  <action id="org.freedesktop.hal.wol.supported">
    <description>If Wake on LAN is supported</description>
    <message>System policy prevents checking if Wake on LAN is supported</message>
    <defaults>
      <allow_inactive>no</allow_inactive>
      <allow_active>yes</allow_active>
    </defaults>
  </action>

</policyconfig>
