[Desktop Entry]
Encoding=UTF-8
Comment=MD5 Hash file
Comment[pt_BR]=Arquivo de hash MD5
Hidden=false
Icon=info
MimeType=text/md5
Patterns=*.MD5;*.md5
Type=MimeType

[Property::X-KDE-text]
Type=bool
Value=true