[Desktop Entry]
Comment=SHA384 Hash file
Comment[pt_BR]=Arquivo de hash SHA384
Hidden=false
Icon=info
MimeType=text/sha384
Patterns=*.SHA384;*.sha384;
Type=MimeType

[Property::X-KDE-text]
Type=bool
Value=true
