[Unit]
Description=ZNC IRC bouncer
After=network.target local-fs.target

[Service]
Type=forking
User=znc
Group=znc
ExecStart=/usr/bin/znc
Restart=always
RestartSec=2

[Install]
WantedBy=multi-user.target
