[Unit]
Description=Submits mpd information about tracks being played to Last.fm.
After=syslog.target network.target local-fs.target
Wants=local-fs.target
ConditionPathExists=/etc/rc.d/rc.znc

[Service]
ExecStop=/etc/rc.d/rc.znc stop
ExecStart=/etc/rc.d/rc.znc start
ExecReload=/etc/rc.d/rc.znc restart
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
