[Unit]
Description=ZNC IRC bouncer
After=network.target local-fs.target

[Service]
PermissionsStartOnly=true
ExecStartPre=-/bin/chown znc:znc /var/lib/znc
ExecStart=/usr/bin/znc
User=znc
Group=znc
Type=forking

[Install]
WantedBy=multi-user.target
