! =====================================================================
! This is the ~/.Xresources file I use for xterm and GNU emacs on my
! 118dpi and 125dpi Laptop displays.
!
! On lower resolution displays, you will probably want to use slightly
! smaller sizes. Run xfontsel(1) to find out which sizes are available.
! =====================================================================


! =====================================================================
! Emacs stuff
! =====================================================================
Emacs.font: -*-terminus-bold-r-*-*-20-*-*-*-*-*-*-*


! =====================================================================
! XTerm stuff
! =====================================================================
! Default and menu font
XTerm*font:  -*-terminus-bold-*-*-*-20-*-*-*-*-*-*-*
! "Unreadable": Leave it actually unreadable.
!XTerm*font1: -*-terminus-bold-r-*-*-20-*-*-*-*-*-*-*
! "Tiny"
XTerm*font2: -*-terminus-medium-*-*-*-12-*-*-*-*-*-*-*
! "Small"
XTerm*font3: -*-terminus-bold-*-*-*-14-*-*-*-*-*-*-*
! "Medium"
XTerm*font4: -*-terminus-bold-*-*-*-17-*-*-*-*-*-*-*
! "Large"
XTerm*font5: -*-terminus-bold-*-*-*-28-*-*-*-*-*-*-*
! "Huge"
XTerm*font6: -*-terminus-bold-*-*-*-32-*-*-*-*-*-*-*

! Colors are a matter of personal preferences.
XTerm*background: black
XTerm*foreground: white


! =====================================================================
! End of file.
! =====================================================================
