[Unit]
Description=NFS Remote Quota Server
BindTo=nfs-server.service
After=nfs-server.service

[Service]
Type=forking
StandardError=syslog+console
EnvironmentFile=-/etc/default/nfs
ExecStart=-/usr/sbin/rpc.rquotad $RPCRQUOTADOPTS

[Install]
WantedBy=nfs.target
