[Unit]
Description=NFS Mount Daemon
BindTo=nfs-server.service
After=nfs-server.service

[Service]
Type=forking
EnvironmentFile=-/etc/default/nfs
ExecStart=/usr/sbin/rpc.mountd $RPCMOUNTDARGS
StandardError=syslog+console

[Install]
WantedBy=nfs.target
