[Unit]
Description=Secure NFS
Requires=var-lib-nfs-rpc_pipefs.mount
After=syslog.target var-lib-nfs-rpc_pipefs.mount

[Service]
Type=forking
StandardError=syslog+console
EnvironmentFile=-/etc/default/nfs
ExecStart=/usr/sbin/rpc.gssd $RPCGSSDARGS

[Install]
WantedBy=nfs.target
