[Unit]
Description=NFSv4 ID-name mapping daemon
Wants=var-lib-nfs-rpc_pipefs.mount
Requires=network.target var-lib-nfs-rpc_pipefs.mount
After=syslog.target network.target named.service

[Service]
Type=forking
StandardError=syslog+console
EnvironmentFile=-/etc/default/nfs
ExecStart=/usr/sbin/rpc.idmapd $RPCIDMAPDARGS

[Install]
WantedBy=multi-user.target
