[Unit]
Description=NFS Server
After=network.target rpcbind.service

[Service]
Type=forking
EnvironmentFile=-/etc/default/nfs
ExecStartPre=/usr/libexec/nfs-utils/nfs-server.preconfig
ExecStartPre=-/usr/sbin/rpc.rquotad $RPCRQUOTADOPTS
ExecStartPre=/usr/sbin/exportfs -r
ExecStart=/usr/sbin/rpc.nfsd $RPCNFSDARGS ${RPCNFSDCOUNT}
ExecStartPost=/usr/sbin/rpc.mountd $RPCMOUNTDOPTS
ExecStartPost=-/usr/libexec/nfs-utils/nfs-server.postconfig
ExecStop=/usr/sbin/rpc.nfsd 0
ExecStopPost=/usr/sbin/exportfs -f

[Install]
WantedBy=multi-user.target

