[Unit]
Description=pNFS block layout mapping daemon
Wants=var-lib-nfs-rpc_pipefs.mount
Requires=var-lib-nfs-rpc_pipefs.mount

[Service]
Type=forking
StandardError=syslog+console
EnvironmentFile=-/etc/default/nfs
ExecStart=/usr/sbin/blkmapd $BLKMAPDARGS

[Install]
WantedBy=nfs.target
