[Unit]
Description=NFS file locking service
After=network.target rpcbind.service

[Service]
Type=forking
EnvironmentFile=-/etc/default/nfs
ExecStartPre=/usr/libexec/nfs-utils/nfs-lock.preconfig
ExecStart=/sbin/rpc.statd $STATDARG
# Make sure lockd's ports are reset
ExecStopPost=-/sbin/sysctl -w fs.nfs.nlm_tcpport=0 fs.nfs.nlm_udpport=0

[Install]
WantedBy=multi-user.target
