[Unit]
Description=Submits mpd information about tracks being played to Last.fm
After=syslog.target network.target mpd.service

[Service]
Type=forking
ExecStart=/usr/bin/mpdscribble
ExecReload = /bin/kill -HUP ${MAINPID}

[Install]
WantedBy=multi-user.target
