[Unit]
Description=Submits mpd information about tracks being played to Last.fm.
After=network.target var-lock.mount
ConditionPathExists=/etc/rc.d/rc.mpdscribble

[Service]
ExecStop=/etc/rc.d/rc.mpdscribble stop
ExecStart=/etc/rc.d/rc.mpdscribble start
ExecReload=/etc/rc.d/rc.mpdscribble restart
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
