[Unit]
Description=Mpdscribble Last.fm scrobbler
After=network.target mpd.service

[Service]
Type=simple
User=mpdscribble
Group=mpdscribble
ExecStart=/usr/bin/mpdscribble --no-daemon --pidfile /run/mpdscribble/mpdscribble.pid

[Install]
WantedBy=multi-user.target
