[Unit]
Description=AppleTalk daemons
After=syslog.target network.target var-lock.mount
ConditionFileIsExecutable=/etc/rc.d/rc.atalk

[Service]
ExecStop=/etc/rc.d/rc.atalk stop
ExecStart=/etc/rc.d/rc.atalk start
ExecReload=/etc/rc.d/rc.atalk restart
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
