[Unit]
Description=Run update-desktop-database
Before=display-manager.service
After=ldconfig.service gio-modules.service

[Service]
Type=oneshot
RemainAfterExit=no
ExecStart=/usr/bin/update-desktop-database /usr/share/applications
StandardOutput=null

[Install]
WantedBy=graphical.target
