[Unit]
Description=SASL authentication daemon.
After=syslog.target 

[Service]
Type=forking
PIDFile=/var/state/saslauthd/saslauthd.pid
EnvironmentFile=/etc/default/saslauthd
ExecStart=/usr/sbin/saslauthd -a $MECH $FLAGS

[Install]
WantedBy=multi-user.target
