[Unit]
Description=Open Sound System
Before=sound.target alsa-restore.service
After=syslog.target
Conflicts=alsa-restore.service

[Service]
Type=oneshot
ExecStop=/etc/rc.d/rc.oss stop
ExecStart=/etc/rc.d/rc.oss start
ExecReload=/etc/rc.d/rc.oss restart
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
