[Desktop Entry]
Type=MimeType
Comment=Nintendo DS Sound Format<
Comment[pt_BR]=Arquivo de Som Nintendo DS
MimeType=audio/x-2sf
Icon=sound
Patterns=*.2sf;*.2SF;*.mini2sf;*.MINI2SF;
