[Desktop Entry]
Type=MimeType
Comment=NES Sound Format File
Comment[pt_BR]=Arquivo de Som NES
MimeType=audio/x-nsf
Icon=sound
Patterns=*.nsf;*.NSF;.nsfe;*.NSFE;
