[Desktop Entry]
Type=MimeType
Comment=Capcom Q-Sound Format
Comment[pt_BR]=Arquivo de Som Capcom Q-Sound
MimeType=audio/x-qsf
Icon=sound
Patterns=*.qsf;*.QSF;*.miniqsf;*.MINIQSF;
