[Desktop Entry]
Type=MimeType
Comment=Nintendo Ultra 64 Sound Format
Comment[pt_BR]=Arquivo de Som Nintendo Ultra 64
MimeType=audio/x-usf
Icon=sound
Patterns=*.usf;*.USF;*.miniusf;*.MINIUSF;
