[Unit]
Description=SLiM Simple Login Manager
After=rc-local.service systemd-user-sessions.service
Conflicts=gdm.service kdm.service lxdm.service sddm.service wdm.service xdm.service

[Service]
ExecStart=/usr/bin/slim -nodaemon
Restart=always
RestartSec=0
IgnoreSIGPIPE=no

[Install]
WantedBy=graphical.target
Alias=display-manager.service
