[Desktop Entry]
Type=MimeType
Patterns=*.bin;*.BIN
MimeType=application/x-bin
Icon=cdtrack
Comment=BIN image file
Comment[az]=BIN əks faylı
Comment[be]=Файл вобразу BIN
Comment[bg]=Файл снимка BIN
Comment[bs]=BIN image datoteka
Comment[ca]=Fitxer d'imatge BIN
Comment[cs]=Soubor s BIN obrazem
Comment[cy]=Ffeil delwedd BIN
Comment[da]=BIN billedfil
Comment[de]=BIN-Bilddatei
Comment[el]=Αρχείο εικόνας BIN
Comment[es]=Archivo de imagen BIN
Comment[et]=BIN tõmmisefail
Comment[eu]=BIN irudia fitxategia
Comment[fa]=پرونده‌ی BIN
Comment[fi]=BIN binäärikuva
Comment[fr]=Image BIN
Comment[ga]=Comhad íomhá BIN
Comment[gl]=Ficheiro de imaxe BIN
Comment[he]=קובץ מראה של BIN
Comment[hi]=BIN चित्र फाइल
Comment[hu]=BIN-képmásfájl
Comment[is]=BIN diskmynd
Comment[it]=File immagine BIN
Comment[ja]=BIN イメージ ファイル
Comment[lt]=BIN atvaizdo byla
Comment[mn]=BIN хэв файл
Comment[nb]=BIN bildefil
Comment[nds]=BIN-Bilddatei
Comment[nl]=BIN-beeldbestand
Comment[nn]=BIN-biletfil
Comment[pl]=Plik obrazu systemu plików BIN
Comment[pt]=Ficheiro com imagem BIN
Comment[pt_BR]=Imagem BIN
Comment[ro]=Fişier imagine BIN
Comment[ru]=Файл образа BIN
Comment[se]=BIN-govvafiila
Comment[sk]=Obraz disku BIN
Comment[sl]=Podoba plošče BIN
Comment[sr]=Фајл BIN одраза
Comment[sr@Latn]=Fajl BIN odraza
Comment[sv]=BIN-avbildsfil
Comment[ta]=BIN உருக் கோப்பு
Comment[tg]=Файли тасвири BIN
Comment[tr]=BIN Dosyası
Comment[uk]=Файл образу BIN
Comment[uz]=BIN-тасвир файли
Comment[wa]=Fitchî imådje BIN
Comment[xx]=xxBIN image filexx
Comment[zh_CN]=BIN 映像文件
Comment[zh_TW]=BIN 映像檔案
