[Desktop Entry]
Type=MimeType
Patterns=*.c2d;*.C2D
MimeType=application/x-c2d
Icon=cdtrack
Comment=C2D image file
Comment[az]=C2D əks faylı
Comment[be]=Файл вобразу C2D
Comment[bg]=Файл снимка C2D
Comment[bs]=C2D image datoteka
Comment[ca]=Fitxer d'imatge C2D
Comment[cs]=Soubor s C2D obrazem
Comment[cy]=Ffeil delwedd C2D
Comment[da]=C2D billedfil
Comment[de]=C2D-Bilddatei
Comment[el]=Αρχείο εικόνας C2D
Comment[es]=Archivo de imagen C2D
Comment[et]=C2D tõmmisefail
Comment[eu]=C2D irudia fitxategia
Comment[fa]=پرونده‌ی C2D
Comment[fi]=C2D binäärikuva
Comment[fr]=Image C2D
Comment[ga]=Comhad íomhá C2D
Comment[gl]=Ficheiro de imaxe C2D
Comment[he]=קובץ מראה של C2D
Comment[hi]=C2D चित्र फाइल
Comment[hu]=C2D-képmásfájl
Comment[is]=C2D diskmynd
Comment[it]=File immagine C2D
Comment[ja]=C2D イメージ ファイル
Comment[lt]=C2D atvaizdo byla
Comment[mn]=C2D хэв файл
Comment[nb]=C2D bildefil
Comment[nds]=C2D-Bilddatei
Comment[nl]=C2D-beeldbestand
Comment[nn]=C2D-biletfil
Comment[pl]=Plik obrazu systemu plików C2D
Comment[pt]=Ficheiro com imagem C2D
Comment[pt_BR]=Imagem C2D
Comment[ro]=Fişier imagine C2D
Comment[ru]=Файл образа C2D
Comment[se]=C2D-govvafiila
Comment[sk]=Obraz disku C2D
Comment[sl]=Podoba plošče C2D
Comment[sr]=Фајл C2D одраза
Comment[sr@Latn]=Fajl C2D odraza
Comment[sv]=C2D-avbildsfil
Comment[ta]=C2D உருக் கோப்பு
Comment[tg]=Файли тасвири C2D
Comment[tr]=C2D Dosyası
Comment[uk]=Файл образу C2D
Comment[uz]=C2D-тасвир файли
Comment[wa]=Fitchî imådje C2D
Comment[xx]=xxC2D image filexx
Comment[zh_CN]=C2D 映像文件
Comment[zh_TW]=C2D 映像檔案
