[Desktop Entry]
Type=MimeType
Patterns=*.cdi;*.CDI;
MimeType=application/x-cdi
Icon=cdtrack
Comment=CDI image file
Comment[az]=CDI əks faylı
Comment[be]=Файл вобразу CDI
Comment[bg]=Файл снимка CDI
Comment[bs]=CDI image datoteka
Comment[ca]=Fitxer d'imatge CDI
Comment[cs]=Soubor s CDI obrazem
Comment[cy]=Ffeil delwedd CDI
Comment[da]=CDI billedfil
Comment[de]=CDI-Bilddatei
Comment[el]=Αρχείο εικόνας CDI
Comment[es]=Archivo de imagen CDI
Comment[et]=CDI tõmmisefail
Comment[eu]=CDI irudia fitxategia
Comment[fa]=پرونده‌ی CDI
Comment[fi]=CDI binäärikuva
Comment[fr]=Image CDI
Comment[ga]=Comhad íomhá CDI
Comment[gl]=Ficheiro de imaxe CDI
Comment[he]=קובץ מראה של CDI
Comment[hi]=CDI चित्र फाइल
Comment[hu]=CDI-képmásfájl
Comment[is]=CDI diskmynd
Comment[it]=File immagine CDI
Comment[ja]=CDI イメージ ファイル
Comment[lt]=CDI atvaizdo byla
Comment[mn]=CDI хэв файл
Comment[nb]=CDI bildefil
Comment[nds]=CDI-Bilddatei
Comment[nl]=CDI-beeldbestand
Comment[nn]=CDI-biletfil
Comment[pl]=Plik obrazu systemu plików CDI
Comment[pt]=Ficheiro com imagem CDI
Comment[pt_BR]=Imagem CDI
Comment[ro]=Fişier imagine CDI
Comment[ru]=Файл образа CDI
Comment[se]=CDI-govvafiila
Comment[sk]=Obraz disku CDI
Comment[sl]=Podoba plošče CDI
Comment[sr]=Фајл CDI одраза
Comment[sr@Latn]=Fajl CDI odraza
Comment[sv]=CDI-avbildsfil
Comment[ta]=CDI உருக் கோப்பு
Comment[tg]=Файли тасвири CDI
Comment[tr]=CDI Dosyası
Comment[uk]=Файл образу CDI
Comment[uz]=CDI-тасвир файли
Comment[wa]=Fitchî imådje CDI
Comment[xx]=xxCDI image filexx
Comment[zh_CN]=CDI 映像文件
Comment[zh_TW]=CDI 映像檔案
