[Desktop Entry]
Type=MimeType
Patterns=*.img;*.IMG;
MimeType=application/x-img
Icon=cdtrack
Comment=IMG image file
Comment[az]=IMG əks faylı
Comment[be]=Файл вобразу IMG
Comment[bg]=Файл снимка IMG
Comment[bs]=IMG image datoteka
Comment[ca]=Fitxer d'imatge IMG
Comment[cs]=Soubor s IMG obrazem
Comment[cy]=Ffeil delwedd IMG
Comment[da]=IMG billedfil
Comment[de]=IMG-Bilddatei
Comment[el]=Αρχείο εικόνας IMG
Comment[es]=Archivo de imagen IMG
Comment[et]=IMG tõmmisefail
Comment[eu]=IMG irudia fitxategia
Comment[fa]=پرونده‌ی IMG
Comment[fi]=IMG binäärikuva
Comment[fr]=Image IMG
Comment[ga]=Comhad íomhá IMG
Comment[gl]=Ficheiro de imaxe IMG
Comment[he]=קובץ מראה של IMG
Comment[hi]=IMG चित्र फाइल
Comment[hu]=IMG-képmásfájl
Comment[is]=IMG diskmynd
Comment[it]=File immagine IMG
Comment[ja]=IMG イメージ ファイル
Comment[lt]=IMG atvaizdo byla
Comment[mn]=IMG хэв файл
Comment[nb]=IMG bildefil
Comment[nds]=IMG-Bilddatei
Comment[nl]=IMG-beeldbestand
Comment[nn]=IMG-biletfil
Comment[pl]=Plik obrazu systemu plików IMG
Comment[pt]=Ficheiro com imagem IMG
Comment[pt_BR]=Imagem IMG
Comment[ro]=Fişier imagine IMG
Comment[ru]=Файл образа IMG
Comment[se]=IMG-govvafiila
Comment[sk]=Obraz disku IMG
Comment[sl]=Podoba plošče IMG
Comment[sr]=Фајл IMG одраза
Comment[sr@Latn]=Fajl IMG odraza
Comment[sv]=IMG-avbildsfil
Comment[ta]=IMG உருக் கோப்பு
Comment[tg]=Файли тасвири IMG
Comment[tr]=IMG Dosyası
Comment[uk]=Файл образу IMG
Comment[uz]=IMG-тасвир файли
Comment[wa]=Fitchî imådje IMG
Comment[xx]=xxIMG image filexx
Comment[zh_CN]=IMG 映像文件
Comment[zh_TW]=IMG 映像檔案
