[Desktop Entry]
Comment=Lossless Audio
Comment[pt_BR]=Áudio Lossless
Hidden=false
Icon=sound
MimeType=application/x-la
Patterns=*.la;*.LA
Type=MimeType
X-KDE-AutoEmbed=false
