[Desktop Entry]
Encoding=UTF-8
Comment=Mozilla Archive File
Hidden=false
Icon=html
MimeType=application/x-maf
Patterns=*.MAFF;*.maff;
Type=MimeType

[Property::X-KDE-LocalProtocol]
Type=QString
Value=zip
