[Desktop Entry]
Type=MimeType
Patterns=*.mdf;*.MDF
MimeType=application/x-mdf
Icon=cdtrack
Comment=MDF image file
Comment[az]=MDF əks faylı
Comment[be]=Файл вобразу MDF
Comment[bg]=Файл снимка MDF
Comment[bs]=MDF image datoteka
Comment[ca]=Fitxer d'imatge MDF
Comment[cs]=Soubor s MDF obrazem
Comment[cy]=Ffeil delwedd MDF
Comment[da]=MDF billedfil
Comment[de]=MDF-Bilddatei
Comment[el]=Αρχείο εικόνας MDF
Comment[es]=Archivo de imagen MDF
Comment[et]=MDF tõmmisefail
Comment[eu]=MDF irudia fitxategia
Comment[fa]=پرونده‌ی MDF
Comment[fi]=MDF binäärikuva
Comment[fr]=Image MDF
Comment[ga]=Comhad íomhá MDF
Comment[gl]=Ficheiro de imaxe MDF
Comment[he]=קובץ מראה של MDF
Comment[hi]=MDF चित्र फाइल
Comment[hu]=MDF-képmásfájl
Comment[is]=MDF diskmynd
Comment[it]=File immagine MDF
Comment[ja]=MDF イメージ ファイル
Comment[lt]=MDF atvaizdo byla
Comment[mn]=MDF хэв файл
Comment[nb]=MDF bildefil
Comment[nds]=MDF-Bilddatei
Comment[nl]=MDF-beeldbestand
Comment[nn]=MDF-biletfil
Comment[pl]=Plik obrazu systemu plików MDF
Comment[pt]=Ficheiro com imagem MDF
Comment[pt_BR]=Imagem MDF
Comment[ro]=Fişier imagine MDF
Comment[ru]=Файл образа MDF
Comment[se]=MDF-govvafiila
Comment[sk]=Obraz disku MDF
Comment[sl]=Podoba plošče MDF
Comment[sr]=Фајл MDF одраза
Comment[sr@Latn]=Fajl MDF odraza
Comment[sv]=MDF-avbildsfil
Comment[ta]=MDF உருக் கோப்பு
Comment[tg]=Файли тасвири MDF
Comment[tr]=MDF Dosyası
Comment[uk]=Файл образу MDF
Comment[uz]=MDF-тасвир файли
Comment[wa]=Fitchî imådje MDF
Comment[xx]=xxMDF image filexx
Comment[zh_CN]=MDF 映像文件
Comment[zh_TW]=MDF 映像檔案
