[Desktop Entry]
Comment=OptimFROG DualStream Audio
Comment[pt_BR]=Áudio OptimFROG
Hidden=false
Icon=sound
MimeType=application/x-ofs
Patterns=*.ofs;*.OFS
Type=MimeType
X-KDE-AutoEmbed=false
