[Desktop Entry]
Comment=Shorten Audio
Comment[pt_BR]=Áudio Shorten
Hidden=false
Icon=sound
MimeType=application/x-shorten
Patterns=*.shn;*.SHN
Type=MimeType
X-KDE-AutoEmbed=false
