[Desktop Entry]
Comment=LZMA-ed Tar Archive
Comment[af]=LZMA-ed Tar Argief
Comment[be]=Архіў Tar, сціснуты LZMA
Comment[bg]=Компресиран архив Tar с LZMA
Comment[br]=Diell Tar LZMAet
Comment[bs]=LZMA-ovana Tar arhiva
Comment[ca]=Arxiu tar i LZMA
Comment[cs]=Bzipovaný tar archív
Comment[csb]=Archiwa spakòwóné przez Tar ë LZMA
Comment[da]=LZMA TAR-arkiver
Comment[de]=LZMA-komprimiertes Tar-Archiv
Comment[el]=Συμπιεσμένη αρχειοθήκη tar με bzip-2
Comment[eo]=LZMA-Tar-arĥivo
Comment[es]=Archivo Tar comprimido con LZMA
Comment[et]=LZMA-tihendusega tar-arhiiv
Comment[eu]=Tar+BZIP artxiboa
Comment[fa]=بایگانی‌بان LZMA-ed
Comment[fi]=LZMA-pakattu Tar-paketti
Comment[fr]=Archive Tar compressée par LZMA
Comment[fy]=Mei LZMA ynpakt Tar-argyf
Comment[ga]=Cartlann tar comhbhrúite le LZMA
Comment[gl]=Arquivo Tar LZMA
Comment[he]=ארכיון Tar דחוס ע"י Bzip
Comment[hr]=BZip TAR arhiva
Comment[hu]=LZMA.tar-archívum
Comment[id]=Arsip Tar LZMA
Comment[is]=LZMA þjappað tar-safn
Comment[it]=Archivio Tar compresso con LZMA
Comment[ja]=LZMA 圧縮された Tar アーカイブ
Comment[ka]=LZMA შეკუმშული Tar არქივი
Comment[kk]=LZMA-мен сығылған Tar архиві
Comment[km]=ប័ណ្ណសារ LZMA-ed Tar
Comment[lb]=Mat LZMA kompriméierten Tar-Archiv
Comment[lt]=Tar archyvas, suglaudintas su LZMA
Comment[lv]=Ar LZMA saspiests TAR arhīvs
Comment[mk]=Bzip-увана Tar-архива
Comment[ms]=Arkib Tar diLZMAkan
Comment[nb]=LZMA-et tar-arkiv
Comment[nds]=LZMA-komprimeert Tar-Archiv
Comment[ne]=LZMA-ed टार सङ्ग्रह
Comment[nl]=Met LZMA ingepakt Tar-archief
Comment[nn]=LZMAa tar-arkiv
Comment[pa]=LZMA-ed ਟਾਰ ਆਰਚੀਵ
Comment[pl]=Archiwum po tarowaniu i spakowaniu LZMA
Comment[pt]=Pacote Tar comprimido com LZMA
Comment[pt_BR]=Arquivo TAR LZMA
Comment[ro]=Arhivă Tar comprimată cu LZMA
Comment[ru]=Сжатый bzip архив tar
Comment[se]=Bzipp2ejuvvon Tar-arkiiva
Comment[sk]=LZMA Tar archív
Comment[sl]=Z LZMA stisnjeni arhiv tar
Comment[sr]=LZMA-ована TAR архива
Comment[sr@Latn]=LZMA-ovana TAR arhiva
Comment[sv]=LZMA-komprimerat tar-arkiv
Comment[te]=బిజిప్ చేయబడిన టార్ ఆర్కైవ్
Comment[tg]=Архиви Tar LZMA-карда шуд
Comment[th]=แฟ้ม Tar บีบอัดด้วย LZMA
Comment[tr]=LZMA ile Sıkıştırılmış Tar Arşivi
Comment[uk]=Архів Tar, стиснутий LZMA
Comment[uz]=Bzip bilan qisilgan Tar arxivi
Comment[uz@cyrillic]=Bzip билан қисилган Tar архиви
Comment[vi]=Bản Tar đã nén Bzip
Comment[zh_CN]=Bzip 压缩的 Tar 归档
Comment[zh_HK]=LZMA 壓縮的 Tar 保存檔
Comment[zh_TW]=LZMA-ed Tar 壓縮文件
MimeType=application/x-tlz
Icon=tgz
Type=MimeType
Patterns=*.tar.lzma;*.tlz;*.tar.lzma;*.tlz;

[Property::X-KDE-LocalProtocol]
Type=QString
Value=tar

[Property::X-KDE-NativeExtension]
Type=QString
Value=.tar.lzma
