[Desktop Entry]
MimeType=application/x-xz
Comment=XZ File
Comment[af]=XZ Lêer
Comment[ar]=ملف XZ
Comment[az]=XZ Faylı
Comment[be]=Файл XZ
Comment[bg]=Архив XZ
Comment[bn]=বি-জিপ-২ (XZ) ফাইল
Comment[br]=Restr XZ
Comment[bs]=XZ datoteka
Comment[ca]=Fitxer XZ
Comment[cs]=Soubor komprimovaný bzipem2
Comment[csb]=Lopk XZ
Comment[cy]=Ffeil XZ
Comment[da]=XZ-fil
Comment[de]=XZ-Datei
Comment[el]=Αρχείο XZ
Comment[eo]=XZ-dosiero
Comment[es]=Archivo comprimido XZ
Comment[et]=XZ-arhiiv
Comment[eu]=XZ fitxategia
Comment[fa]=پروندۀ XZ
Comment[fi]=XZ-tiedosto
Comment[fr]=Fichier compressé par XZ
Comment[fy]=XZ-Triem
Comment[ga]=Comhad XZ
Comment[gl]=Ficheiro XZ
Comment[he]=קובץ XZ
Comment[hi]=XZ फ़ाइल
Comment[hr]=XZ datoteka
Comment[hu]=XZ-fájl
Comment[id]=Berkas XZ
Comment[is]=Þjöppuð skrá (XZ)
Comment[it]=File XZ
Comment[ja]=XZ ファイル
Comment[ka]=XZ არქივი
Comment[kk]=XZ файлы
Comment[km]=ឯកសារ XZ
Comment[ko]=XZ 파일
Comment[lb]=XZ-Datei
Comment[lt]=XZ byla
Comment[lv]=XZ fails
Comment[mk]=XZ-датотека
Comment[mn]=Bzip-Файл
Comment[ms]=Fail XZ
Comment[mt]=Arkivju XZ
Comment[nb]=XZ-fil
Comment[nds]=XZ-Datei
Comment[ne]=XZ फाइल
Comment[nl]=XZ-bestand
Comment[nn]=XZ-fil
Comment[nso]=Faele ya XZ
Comment[pa]=XZ ਫਾਇਲ
Comment[pl]=Plik XZ
Comment[pt]=Ficheiro XZ
Comment[pt_BR]=Arquivo XZ
Comment[ro]=Fişier XZ
Comment[ru]=Архив XZ
Comment[rw]=XZ Idosiye
Comment[se]=XZ-fiila
Comment[sk]=XZ súbor
Comment[sl]=Datoteka, stisnjena z XZ
Comment[sq]=XZ Skedë
Comment[sr]=XZ фајл
Comment[sr@Latn]=XZ fajl
Comment[ss]=Lifayela le XZ
Comment[sv]=XZ-fil
Comment[ta]=XZ கோப்பு
Comment[te]=బిజిప్2 దస్త్రం
Comment[tg]=Файли XZ 
Comment[th]=แฟ้มบีบอัด XZ
Comment[tr]=XZ Dosyası
Comment[tt]=XZ Bireme
Comment[uk]=Файл XZ
Comment[uz]=XZ-fayli
Comment[uz@cyrillic]=XZ-файли
Comment[ven]=Faela ya XZ
Comment[vi]=Tập tin XZ
Comment[wa]=Fitchî XZ
Comment[xh]=Ifayile ye XZ
Comment[zh_CN]=XZ 文件
Comment[zh_HK]=XZ 檔案
Comment[zh_TW]=XZ 檔案
Comment[zu]=Ifayela le-XZ
Icon=tgz
Type=MimeType
Patterns=*.xz;*.XZ;
