[Unit]
Description = Generic clamav scanner daemon
After = syslog.target
Before = clamav-milter.service

[Service]
Type = simple
ExecStart = /usr/sbin/clamd -c /etc/clamd.d/scan.conf --nofork=yes
Restart = on-failure

[Install]
WantedBy = multi-user.target
