[Unit]
Description=Deluge BitTorrent client
After=syslog.target network.target local-fs.target
Wants=local-fs.target
ConditionFileIsExecutable=/etc/rc.d/rc.deluged

[Service]
ExecStop=/etc/rc.d/rc.deluged stop
ExecStart=/etc/rc.d/rc.deluged start
ExecReload=/etc/rc.d/rc.deluged restart
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
