[Unit]
Description=VirtualBox WebService
After=network.target
Requires=vboxdrv.service

[Service]
Type=forking
EnvironmentFile=/etc/default/vboxwebsrv
ExecStart=/usr/bin/vboxwebsrv -H $VBOXWEBSRV_HOST -p $VBOXWEBSRV_PORT -t $VBOXWEBSRV_TIMEOUT -i $VBOXWEBSRV_INTERVAL

[Install]
WantedBy=multi-user.target
