[Unit]
Description=VirtualBox kernel module
After=syslog.target local-fs.target network.target
ConditionFileIsExecutable=/etc/rc.d/rc.vboxdrv

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/etc/rc.d/rc.vboxdrv start
ExecStop=/etc/rc.d/rc.vboxdrv stop

[Install]
WantedBy=multi-user.target
