[Unit]
Description=VirtualBox balloon control daemon
After=syslog.target network.target
Requires=vboxdrv.service
ConditionFileIsExecutable=/etc/rc.d/rc.vboxballoonctrl

[Service]
ExecStop=/etc/rc.d/rc.vboxballoonctrl stop
ExecStart=/etc/rc.d/rc.vboxballoonctrl start
ExecReload=/etc/rc.d/rc.vboxballoonctrl restart
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
