[Unit]
Description=VirtualBox autostart service
After=syslog.target local-fs.target network.target
ConditionFileIsExecutable=/etc/rc.d/rc.vboxautostart
Requires=vboxdrv.service

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/etc/rc.d/rc.vboxautostart start
ExecStop=/etc/rc.d/rc.vboxautostart stop

[Install]
WantedBy=multi-user.target
