[Unit]
Description=Arno's IPTABLES firewall script
After=network.target
Conflicts=firewall.service

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/sbin/arno-iptables-firewall start
ExecRestart=/usr/sbin/arno-iptables-firewall restart
ExecReload=/usr/sbin/arno-iptables-firewall reload
ExecStop=/usr/sbin/arno-iptables-firewall stop

[Install]
WantedBy=multi-user.target
