[Unit]
Description=Run update-gdk-pixbuf-loaders
Before=display-manager.service
After=ldconfig.service glib-compile-schemas.service

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/bin/update-gdk-pixbuf-loaders
StandardOutput=null

[Install]
WantedBy=graphical.target
