[Unit]
Description=VnStat - Lightweight Network Traffic Monitor
After=network.target

[Service]
User=vnstat
ExecStart=/usr/sbin/vnstatd --nodaemon

[Install]
WantedBy=multi-user.target
