[Unit]
Description=Console-based network traffic monitor
After=network.target

[Service]
ExecStart=/usr/sbin/vnstatd --nodaemon

[Install]
WantedBy=multi-user.target
