[Unit]
Description=Reset the system activity logs
After=syslog.target

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/_LIBDIR_/sa/sa1 --boot

[Install]
WantedBy=multi-user.target
