[Unit]
Description=irqbalance daemon
After=syslog.target

[Service]
EnvironmentFile=/etc/default/irqbalance
Type=forking
ExecStart=/usr/sbin/irqbalance $ONESHOT

[Install]
WantedBy=multi-user.target
