[Unit]
Description=MySQL database server
After=network.target

[Service]
RemainAfterExit=yes
ExecStart=/etc/rc.d/rc.mysqld start
ExecStop=/etc/rc.d/rc.mysqld stop

[Install]
WantedBy=multi-user.target
