[Unit]
Description=Internet domain name server
After=syslog.target

[Service]
EnvironmentFile=/etc/default/named
ExecStart=/usr/sbin/named -f $NAMED_OPTIONS
ExecReload=/usr/sbin/rndc reload
ExecStop=/usr/sbin/rndc stop

[Install]
WantedBy=multi-user.target

 
