[Unit]
Description=Transmission BitTorrent client
After=syslog.target network.target local-fs.target
Wants=local-fs.target

[Service]
Type=forking
ExecStart=/usr/libexec/transmission-run-as-user

[Install]
WantedBy=multi-user.target
