[Unit]
Description=Advanced Linux Sound Architecture
Before=sound.target
After=syslog.target

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/etc/rc.d/rc.alsa
