[Unit]
Description=Music Player Daemon
After=syslog.target sound.target var-lock.mount
Requires=sound.target
ConditionPathExists=/etc/rc.d/rc.mpd

[Service]
ExecStop=/etc/rc.d/rc.mpd stop
ExecStart=/etc/rc.d/rc.mpd start
ExecReload=/etc/rc.d/rc.mpd restart
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
