[Unit]
Description=Music Player Daemon
After=syslog.target network.target local-fs.target

[Service]
ExecStartPre=-/usr/bin/mpd-start-user-config
ExecStart=@prefix@/bin/mpd --no-daemon
User=mpd
Group=mpd

[Install]
WantedBy=multi-user.target
