[Unit]
Description=Music Player Daemon
After=network.target sound.target local-fs.target

[Service]
ExecStartPre=-/usr/bin/mpd-start-user-config
ExecStart=@prefix@/bin/mpd --no-daemon
User=mpd
Group=mpd

# allow MPD to use real-time priority 50
LimitRTPRIO=50
LimitRTTIME=-1

[Install]
WantedBy=multi-user.target
