[Unit]
Description=Deluge BitTorrent client
After=syslog.target network.target local-fs.target
Wants=local-fs.target

[Service]
ExecStart=/usr/libexec/deluged-run-as-user

[Install]
WantedBy=multi-user.target
