[Unit]
Description=Deluge BitTorrent client UI
After=deluged.service
Wants=deluged.service

[Service]
EnvironmentFile=/etc/default/deluged
User=deluge
Group=deluge
ExecStart=/usr/bin/deluge ${DELUGEUI_OPTS}

[Install]
WantedBy=multi-user.target
