[Unit]
Description=Deluge BitTorrent client UI
After=deluged.service
Wants=deluged.service

[Service]
ExecStart=/usr/libexec/deluged-run-as-user --ui

[Install]
WantedBy=multi-user.target
