[Unit]
Description=The ypbind daemon which binds NIS/YP clients to NIS domain
After=syslog.target network.target rpcbind.service

[Service]
EnvironmentFile=-/etc/default/ypbind
ExecStartPre=-/usr/share/ypbind/ypbind-pre-setdomain
ExecStart=/usr/sbin/ypbind -n $OTHER_YPBIND_OPTS
ExecStopPost=/usr/share/ypbind/ypbind-post-waitbind

[Install]
WantedBy=multi-user.target
