[Unit]
Description=NIS/YP (Network Information Service) Clients to NIS Domain Binder
Requires=rpcbind.service
After=network.target rpcbind.service ypserv.service NetworkManager-wait-online.service
Before=systemd-user-sessions.service

[Service]
Type=notify
NotifyAccess=all
EnvironmentFile=-/etc/default/ypbind
ExecStartPre=-/usr/libexec/ypbind/ypbind-pre-setdomain
ExecStart=/usr/sbin/ypbind -n $OTHER_YPBIND_OPTS
ExecStopPost=/usr/libexec/ypbind/ypbind-post-waitbind

[Install]
WantedBy=multi-user.target
