[Unit]
Description=NIS/YP (Network Information Service) Users Passwords Change Server
Requires=rpcbind.service
After=syslog.target network.target rpcbind.service

[Service]
Type=notify
NotifyAccess=all
EnvironmentFile=-/etc/default/yppasswdd
ExecStartPre=/usr/libexec/ypserv/yppasswdd-pre-setdomain
ExecStart=/usr/libexec/ypserv/rpc.yppasswdd.env

[Install]
WantedBy=multi-user.target
