[Unit]
Description=The yppasswdd daemon which lets users change their passwords in the presence of NIS (a.k.a. YP)
After=syslog.target network.target rpcbind.service

[Service]
EnvironmentFile=-/etc/default/yppasswdd
ExecStart=/usr/sbin/rpc.yppasswdd -f $YPPASSWDD_ARGS

[Install]
WantedBy=multi-user.target
