[Unit]
Description=NIS/YP (Network Information Service) Server
Requires=rpcbind.service
After=syslog.target network.target rpcbind.service 

[Service]
Type=notify
NotifyAccess=all
ExecStart=/usr/sbin/ypserv -f $YPSERV_ARGS

[Install]
WantedBy=multi-user.target
