[Unit]
Description=The NIS (Network Information Service) server
After=syslog.target network.target rpcbind.service

[Service]
EnvironmentFile=-/etc/default/network
ExecStart=/usr/sbin/ypserv -f $YPSERV_ARGS

[Install]
WantedBy=multi-user.target
