[Unit]
Description=NIS/YP (Network Information Service) Maps Transferring Accelerator
Requires=rpcbind.service
After=syslog.target network.target rpcbind.service

[Service]
Type=notify
NotifyAccess=all
ExecStart=/usr/sbin/rpc.ypxfrd -f $YPXFRD_ARGS

[Install]
WantedBy=multi-user.target
