[Unit]
Description=The ypxfrd daemon which accelerates transferring yp maps by ypserv
After=syslog.target network.target rpcbind.service

[Service]
EnvironmentFile=-/etc/default/network
ExecStart=/usr/sbin/rpc.ypxfrd -f $YPXFRD_ARGS

[Install]
WantedBy=multi-user.target
