[Unit]
Description=Simple Network Management Protocol (SNMP) Daemon
After=local-fs.target network.target
ConditionFileIsExecutable=/etc/rc.d/rc.snmpd

[Service]
Type=forking
ExecStop=/etc/rc.d/rc.snmpd stop
ExecStart=/etc/rc.d/rc.snmpd start
ExecReload=/etc/rc.d/rc.snmpd restart
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
