[Unit]
Description=ddclient dynamic DNS service
After=network.target local-fs.target

[Service]
User=ddclient
Group=ddclient
Type=forking
EnvironmentFile=/etc/default/ddclient
ExecStartPre=/bin/touch /var/cache/ddclient/ddclient.cache
ExecStartPre=/bin/chown ddclient.ddclient /var/cache/ddclient/ddclient.cache
ExecStartPre=/bin/chmod 0600 /var/cache/ddclient/ddclient.cache
ExecStart=/usr/sbin/ddclient -pid /run/ddclient/ddclient.pid $DDCLIENT_OPTIONS
PIDFile=/run/ddclient/ddclient.pid

[Install]
WantedBy=multi-user.target
