[Unit]
Description=Periodic Command Scheduler

[Service]
Type=forking
EnvironmentFile=/etc/default/dcron
ExecStart=/usr/sbin/crond $DCRON_OPTIONS
StandardOutput=syslog

[Install]
WantedBy=multi-user.target
