[Desktop Entry]
Comment=MD6 Hash file
Comment[pt_BR]=Arquivo de hash MD6
Hidden=false
Icon=info
MimeType=text/md6
Patterns=*.MD6;*.md6;*.MD6SUM;*.md6sum;
Type=MimeType

[Property::X-KDE-text]
Type=bool
Value=true
