[Desktop Entry]
Comment=SHA1 Hash file
Comment[pt_BR]=Arquivo de hash SHA1
Hidden=false
Icon=info
MimeType=text/sha1
Patterns=*.SHA1;*.sha1;*.SHA1SUM;*.sha1sum;
Type=MimeType

[Property::X-KDE-text]
Type=bool
Value=true
