[Desktop Entry]
Comment=SHA224 Hash file
Comment[pt_BR]=Arquivo de hash SHA224
Hidden=false
Icon=info
MimeType=text/sha224
Patterns=*.SHA224;*.sha224;*.SHA224SUM;*.sha224sum;
Type=MimeType

[Property::X-KDE-text]
Type=bool
Value=true
