[KSplash Theme: SlackwareShield]
Name = Slackware Shield
Description = KDE Splash Screen for Slackware
Version = 1.0
Author = r_linux
Homepage = http://linuxbr.org

# Theme behavior settings.
Engine = Default

# Should icons blink ala KDE, or not?
Icons Flashing = true
