[Unit]
Description=Transmission BitTorrent client
After=syslog.target network.target local-fs.target
Wants=local-fs.target

[Service]
Type=forking
EnvironmentFile=/etc/default/transmission
PermissionsStartOnly=true
User=transmission
Group=transmission
ExecPreStart=-/bin/chown transmission:transmission /var/lib/transmission
ExecStart=/usr/bin/transmission-daemon $DAEMON_ARGS -p DAEMON_PORT

[Install]
WantedBy=multi-user.target
