[Unit]
Description=Transmission BitTorrent client
After=network.target local-fs.target
Wants=local-fs.target
ConditionPathExists=/etc/rc.d/rc.transmission

[Service]
ExecStop=/etc/rc.d/rc.transmission stop
ExecStart=/etc/rc.d/rc.transmission start
ExecReload=/etc/rc.d/rc.transmission restart
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
