[Unit]
Description=Transmission BitTorrent client
After=network.target local-fs.target
Wants=local-fs.target

[Service]
EnvironmentFile=/etc/default/transmission
User=transmission
Group=transmission
ExecStart=/usr/bin/transmission-daemon -f $DAEMON_ARGS -p $DAEMON_PORT

[Install]
WantedBy=multi-user.target
