[Desktop Entry]
Name=Wine Internet Explorer
Comment=Wine Internet Explorer
Exec=wine iexplore
Terminal=false
Type=Application
Icon=wine_iexplore
Categories=X-Wine;
