[Desktop Entry]
Name=Wine Task Manager
Name[pt_BR]=Gerenciador de Tarefas do Wine
Comment=Wine registry editor
Exec=wine taskmgr
Terminal=false
Type=Application
Icon=wine_taskmgr
Categories=X-Wine;
