[Desktop Entry]
Name=Wine Configuration
Name[pt_BR]=Configuração do Wine
Comment=Interface to set wine parameters
Exec=winecfg
Terminal=false
Type=Application
Icon=winecfg
Categories=X-Wine;
