[Desktop Entry]
Name=Wine Internet Settings
Name[pt_BR]=Configurações de Internet do Wine
Comment=Wine Internet Settings
Exec=wine control inetcpl.cpl
Terminal=false
Type=Application
Icon=wine_iexplore
Categories=X-Wine;
