[Desktop Entry]
Name=Wine Game Controllers
Name[pt_BR]=Controles de Jogos do Wine
Comment=Wine Game Controllers
Exec=wine control joy.cpl
Terminal=false
Type=Application
Icon=wine_joy
Categories=X-Wine;
