[Desktop Entry]
Name=Wine Software Uninstaller
Name[pt_BR]=Desinstalador de Software do Wine
Comment=Interface to uninstall software
Exec=wine uninstaller
Terminal=false
Type=Application
Icon=wine_msiexec
Categories=X-Wine;
