[Desktop Entry]
Comment=Monkey's Audio (APE)
Comment[pt_BR]=Áudio Monkey (APE)
Hidden=false
Icon=sound
X-KDE-IsAlso=audio/x-mac
MimeType=audio/x-ape
Type=MimeType
X-KDE-AutoEmbed=false
