[Desktop Entry]
Comment=Sega Mega Drive Sound File
Comment[pt_BR]=Áudio GYM
Hidden=false
Icon=sound
MimeType=audio/x-gym
Patterns=*.GYM;*.gym;
Type=MimeType
