[Desktop Entry]
Type=MimeType
Comment=Monkey's Audio (APE)
Comment[pt_BR]=Áudio Monkey (APE)
MimeType=audio/x-mac
Icon=sound
Patterns=*.ape;*.APE;*.apl;*.APL;*.mac;*.MAC;
