[Desktop Entry]
Encoding=UTF-8
Type=MimeType
Comment=Nintendo Sound File
Comment[pt_BR]=Áudio NSF
MimeType=audio/x-nsf
Icon=sound
Patterns=*.nsf;*.NSF;
