[Desktop Entry]
Comment=Pac Audio
Comment[pt_BR]=Áudio Pac
Hidden=false
Icon=sound
MimeType=audio/x-pac
Patterns=*.pac;*.PAC;*.lpac;*.LPAC
Type=MimeType
X-KDE-AutoEmbed=false
