[Desktop Entry]
Type=MimeType
Comment=Portable Sound File
Comment[pt_BR]=Áudio PSF
MimeType=audio/x-psf
Icon=sound
Patterns=*.psf;*.PSF;*.psf2;*.PSF2;
