[Desktop Entry]
Encoding=UTF-8
Type=MimeType
Comment=Playstation Sound File
Comment[pt_BR]=Áudio PSF
MimeType=audio/x-psf
Icon=sound
Patterns=*.psf;*.PSF;
