[Desktop Entry]
Comment=WavPack Audio
Comment[pt_BR]=Áudio WavPack
Hidden=false
Icon=sound
MimeType=audio/x-wavpack
Patterns=*.wv;*.WV
Type=MimeType
X-KDE-AutoEmbed=false
