[Desktop Entry]
Comment=WavPack Audio
Comment[pt_BR]=Áudio WavPack
Hidden=false
Icon=sound
MimeType=audio/x-wavpack-correction
Patterns=*.wvc;*.WVC
Type=MimeType
X-KDE-AutoEmbed=false
