# Systemd unit file for adb

[Unit]
Description=Android Debug Bridge (adb) service

[Service]
Type=forking
ExecStart=/usr/bin/adb start-server
ExecStop=/usr/bin/adb kill-server
PrivateTmp=yes
Environment=HOME=/var/lib/adb

[Install]
WantedBy=multi-user.target
