[SddmGreeterTheme]
Name=Fedora
Description=Fedora SDDM Theme
Author=Martin Bříza
Copyright=(c) 2013, Martin Bříza
License=CC-BY-SA
Type=sddm-theme
Version=0.1
Website=https://github.com/sddm/sddm
Screenshot=screenshot.jpg
MainScript=Main.qml
ConfigFile=theme.conf
Email=mbriza@redhat.com
Theme-Id=fedora
Theme-API=1.1
