[Unit]
Description=Load the fuse module and mount the fuse control
Before=hwclock-load.service remount-rootfs.target

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/etc/rc.d/rc.fuse start
ExecStop=/etc/rc.d/rc.fuse stop

[Install]
WantedBy=sysinit.target
