[Unit]
Description=Hardware Monitoring Sensors

[Service]
EnvironmentFile=/etc/default/lm_sensors
Type=oneshot
RemainAfterExit=yes
ExecStart=-@WRAPPER_DIR@/lm_sensors-modprobe-wrapper $BUS_MODULES $HWMON_MODULES
ExecStart=/usr/bin/sensors -s
ExecStop=-@WRAPPER_DIR@/lm_sensors-modprobe-r-wrapper $BUS_MODULES $HWMON_MODULES

[Install]
WantedBy=multi-user.target
