[Unit]
Description=SpamAssassin Daemon
After=network.target

[Service]
EnvironmentFile=/etc/default/spamassassin
ExecStart=/usr/sbin/spamd $OPTIONS
StandardOutput=syslog
StandardError=syslog
Restart=always

[Install]
WantedBy=multi-user.target
