[Unit]
Description=SpamAssassin Daemon
After=network.target

[Service]
Type=forking
EnvironmentFile=/etc/default/spamassassin
ExecStart=/usr/sbin/spamd $OPTIONS -r /var/run/spamd.pid
PIDFile=/var/run/gpm.pid

[Install]
WantedBy=multi-user.target
