[Unit]
Description=Run glib-compile-schemas
Before=display-manager.service
After=ldconfig.service gio-modules.service

[Service]
Type=oneshot
RemainAfterExit=no
ExecStart=/usr/bin/glib-compile-schemas --allow-any-name /usr/share/glib-2.0/schemas
StandardOutput=null

[Install]
WantedBy=graphical.target
