[Unit]
Description=Run update-gio-modules
Before=display-manager.service
After=ldconfig.service

[Service]
Type=oneshot
RemainAfterExit=no
ExecStart=/usr/bin/update-gio-modules
StandardOutput=null

[Install]
WantedBy=graphical.target
