[Unit]
Description=RPC bind service
Requires=rpcbind.socket
After=syslog.target network.target

[Service]
Type=forking
EnvironmentFile=/etc/default/rpcbind
ExecStart=/sbin/rpcbind -w ${RPCBINDOPTS}

[Install]
WantedBy=multi-user.target
Also=rpcbind.socket
