[Unit]
Description=Speech-Dispatcher an high-level device independent layer for speech synthesis
After=syslog.target sound.target

[Service]
Type=forking
ExecStart=/usr/bin/speech-dispatcher -d
PIDFile=/var/run/speech-dispatcher.pid

[Install]
WantedBy=multi-user.target
