[Unit]
Description=Speech-Dispatcher an high-level device independent layer for speech synthesis
After=sound.target

[Service]
Type=forking
ExecStart=/usr/bin/speech-dispatcher -d

[Install]
WantedBy=multi-user.target
